@import "mixins/media.scss";
@import "fonts/fonts.scss";
@import "func/px-to-rem.scss";
@import "settings/setttings.scss";

.social-list {
	display: flex;
	align-items: center;
	margin: -3px;

	&__item {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			margin: 3px;
			background-color: $color-white;
			border-radius: 9px;
			outline: none;
			transition: background-color 0.2s ease-in;

			.icon {
				width: 20px;
				height: 20px;
				fill: $color-purple-dark;
			}

			@include desktop {
				&:hover {
					background-color: $color-yellow;
				}
			}

			&:focus {
				background-color: $color-yellow;
			}

			&:active {
				transform: scale(0.93);
			}
		}
	}
}

.btn {
	position: relative;
	z-index: 10;
	outline: none !important;

	span {
		position: relative;
		z-index: 19;
		display: block;
		padding: 23px 46px;
		overflow: hidden;
		color: $color-yellow-dark;
		font-weight: 700;
		text-transform: uppercase;
		background: rgb(232, 182, 53);
		background: linear-gradient(14deg, rgba(232, 182, 53, 1) 9%, rgba(238, 194, 55, 1) 14%, rgba(244, 209, 59, 1) 75%, rgba(246, 213, 81, 1) 81%, rgba(251, 231, 149, 1) 88%);
		background-color: $color-yellow;
		border-radius: 54px;
		cursor: pointer;
		transition: all 0.2s ease-in;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background: rgb(229, 93, 40);
			background: linear-gradient(20deg, rgba(229, 93, 40, 1) 5%, rgba(237, 115, 49, 1) 12%, rgba(236, 114, 48, 1) 18%, rgba(245, 145, 72, 1) 84%, rgba(249, 169, 114, 1) 90%, rgba(251, 201, 161, 1) 97%);
			border-radius: 20px;
			cursor: pointer;
			opacity: 0;
			transition: all 0.2s ease-in;
			content: "";
		}

		@include _1366 {
			padding: 26px 68px;
		}
	}

	&:focus {
		span {
			color: $color-white;
			border-radius: 20px;

			&::before {
				opacity: 1;
			}
		}
	}

	@include desktop {
		&:hover {
			span {
				color: $color-white;
				border-radius: 20px;

				&::before {
					opacity: 1;
				}
			}
		}
	}
}

.text-center {
	text-align: center;
}

.burger-button {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 57px;
	height: 57px;
	background-color: $color-blue;
	border-radius: 50%;
	cursor: pointer;

	span {
		display: block;
		width: 65%;
		height: 4px;
		background-color: $color-white;
		border-radius: 5px;

		&:nth-child(1) {
			margin-bottom: 7px;
		}
	}
}

.site-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 679;
	display: none;
	width: 100%;
	height: 100%;

	&__container {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 100%;
		padding: 64px 32px;
		overflow: hidden;
		background: linear-gradient(0deg, #aba3ff 0, #848dff 50%, #5169ff 90%);
		border-radius: 22px 0 0 22px;
		transform: translateX(100%);
		transform-origin: right;
		transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

		&._active {
			transform: translateX(0);
		}

		._layer {
			position: absolute;
			right: -170px;
			bottom: 0;
			z-index: -1;
			width: 460px;
			height: 390px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			&.ball {
				right: auto;
				left: 0;
				width: 180px;
			}
		}
	}

	&__nav {
		ul {
			li {
				a {
					font-weight: 700;
					font-size: rem(32px);
					font-family: $second-font;

					&:hover {
						color: $color-yellow;
					}
				}
			}
		}
	}

	&__btn-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: auto;

		.phone-content {
			margin-bottom: 10px;
			color: $color-white;
			font-size: rem(32px) !important;
		}
	}

	&__order-button {
		margin-bottom: 16px;
		color: $color-white;
		font-size: rem(24px);
		cursor: pointer;

		&:hover {
			color: $color-yellow;
		}
	}

	&__location {
		display: block;
	}

	&__burger {
		position: absolute;
		top: 22px;
		right: 33px;
		background-color: $color-purple-light;

		span {
			position: absolute;

			&:nth-child(1) {
				transform: rotate(45deg);
				margin-bottom: 0;
			}

			&:nth-child(2) {
				transform: rotate(-45deg);
			}
		}
	}

	@include _1280 {
		&__container {
			padding: 48px 32px;
		}

		&__nav {
			ul {
				li {
					a {
						font-size: rem(24px);
					}
				}
			}
		}

		&__btn-group {
			.phone-content {
				font-size: 1.6rem !important;
			}
		}

		&__order-button {
			font-size: 1.3rem;
		}

		._layer {
			right: -50px;
			width: 210px;
			height: 330px;

			&.ball {
				width: 120px;
			}
		}
	}

	@include _740 {
		&__container {
			width: 100%;
			border-radius: 0;
		}
	}

	@include _480 {
		&__burger {
			width: 45px;
			height: 45px;
		}

		&__nav {
			ul {
				li {
					a {
						font-size: 1.3rem;
					}
				}
			}
		}

		&__btn-group {
			.phone-content {
				font-size: 1.4rem !important;
			}
		}

		&__order-button {
			font-size: 1.2rem;
		}

		&__container {
			padding: 32px 16px;

			._layer {
				width: 170px;
				height: 290px;

				&.ball {
					width: 150px;
					height: 340px;
				}
			}
		}
	}

	@include _320 {
		&__container {
			._layer {
				display: none;

				&.ball {
					display: block;
				}
			}
		}
	}
}
