.catalog {
	position: relative;
	z-index: 10;
	margin-top: -54px;
	padding-bottom: 565px;

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;

		&._bg {
			bottom: 0;
			left: 50%;
			z-index: -1;
			width: 100%;
			height: 1108px;
			transform: translateX(-50%);
		}

		&._ball1 {
			bottom: 250px;
			left: 130px;
			z-index: 15;
			width: 408px;
			height: 1117px;
			animation: levitateCatalog 6s ease-in-out infinite;
		}

		&._ball2 {
			bottom: 170px;
			left: 27px;
			width: 251px;
			height: 992px;
			animation: levitateCatalogOut 6s ease-in-out infinite;
		}

		&._kid-rabbit {
			right: 490px;
			bottom: 270px;
			width: 438px;
			height: 549px;
			animation: levitate 6s ease-in-out infinite;

			._kid-rabbit__component {
				position: absolute;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
			}

			.kid-rabbit-body {
				bottom: 0;
				left: 50%;
				width: 221px;
				height: 400px;
				transform: translateX(-50%);
			}

			.kid-rabbit-ball1 {
				top: 116px;
				left: -20px;
				width: 132px;
				height: 130px;
				animation: kid-ball1 6s ease-in-out infinite;
			}

			.kid-rabbit-ball2 {
				top: 0;
				left: 140px;
				width: 121px;
				height: 153px;
				animation: kid-ball2 6s ease-in-out infinite;
			}

			.kid-rabbit-ball3 {
				top: 46px;
				right: 9px;
				width: 125px;
				height: 147px;
				animation: kid-ball3 6s ease-in-out infinite;
			}

			.kid-rabbit-toy {
				right: 74px;
				bottom: -2px;
				left: auto;
				width: 107px;
				height: 104px;
				animation: kid-toy 6s ease-in-out infinite;
			}

			.kid-rabbit-eye {
				position: absolute;
				width: 25px;
				height: 25px;
				// background-color: red;

				&._left {
					bottom: 115px;
					left: 155px;
					transform: translate(-12px, -8px);
					animation: eye-on-ball 6s ease-in-out infinite;

					._left {
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 15;
						width: 16px;
						height: 16px;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;
						transform: translate(-50%, -50%);
					}
				}

				&._right {
					right: 175px;
					bottom: 115px;
					transform: translate(-12px, -8px);
					animation: eye-on-ball 6s ease-in-out infinite;

					._right {
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 15;
						width: 16px;
						height: 16px;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;
						transform: translate(-50%, -50%);
					}
				}
			}
		}

		&._school-rabbit {
			right: 160px;
			bottom: 500px;
			width: 226px;
			height: 463px;
			animation: levitateSchoolRabbit 6s ease-in-out infinite;

			._school-rabbit__component {
				background-repeat: no-repeat;
				background-position: center bottom;
				background-size: contain;
			}

			.main {
				position: relative;
				z-index: 18;
				width: 226px;
				height: 463px;
			}

			.ball {
				position: absolute;
				top: -216px;
				left: 40px;
				width: 188px;
				height: 242px;
				animation: school-rabbi-ball 6s ease-in-out infinite;
			}

			.arm-left {
				position: absolute;
				bottom: 40px;
				left: 14px;
				width: 25px;
				height: 95px;
				animation: school-rabbi-arm 6s ease-in-out infinite;
			}

			.arm-right {
				position: absolute;
				right: 97px;
				bottom: 53px;
				z-index: 21;
				width: 28px;
				height: 90px;
				animation: school-rabbi-arm 6s ease-in-out infinite;
			}

			.bag {
				position: absolute;
				right: 63px;
				bottom: -36px;
				z-index: 19;
				width: 96px;
				height: 97px;
				animation: school-rabbi-bag 6s ease-in-out infinite;
			}

			.eye-left {
				position: absolute;
				bottom: 152px;
				left: 8px;
				z-index: 22;
				width: 13px;
				height: 13px;
				animation: eye-on-ball2 6s ease-in-out infinite;
			}

			.eye-right {
				position: absolute;
				right: 122px;
				bottom: 173px;
				z-index: 22;
				width: 13px;
				height: 13px;
				animation: eye-on-ball2 6s ease-in-out infinite;
			}
		}

		@keyframes eye-on-ball2 {
			0% {
				transform: translate(0, 0);
			}

			50% {
				transform: translate(0, -7px);
			}

			100% {
				transform: translate(0, 0);
			}
		}

		@keyframes eye-on-ball {
			0% {
				transform: translate(-12px, -8px);
			}

			50% {
				transform: translate(-12px, -2px);
			}

			100% {
				transform: translate(-12px, -8px);
			}
		}

		@keyframes kid-ball1 {
			0% {
				transform: rotate(0) translate(0, 0) skewY(0);
			}

			50% {
				transform: rotate(-13deg) translate(-15px, 11px) skewY(3deg);
			}

			100% {
				transform: rotate(0) translate(0, 0) skewY(0);
			}
		}

		@keyframes kid-ball2 {
			0% {
				transform: rotate(0) translate(0, 0) skewY(0);
			}

			50% {
				transform: rotate(25deg) translate(31px, -16px) skewY(0);
			}

			100% {
				transform: rotate(0) translate(0, 0) skewY(0);
			}
		}

		@keyframes kid-ball3 {
			0% {
				transform: rotate(0) translate(0, 0) skewY(0);
			}

			50% {
				transform: rotate(24deg) translate(33px, 9px) skewY(-2deg);
			}

			100% {
				transform: rotate(0) translate(0, 0) skewY(0);
			}
		}

		@keyframes kid-toy {
			0% {
				transform: rotate(0) translate(0, 0) skewY(0);
			}

			50% {
				transform: rotate(32deg) translate(-18px, 16px) skewY(-3deg);
			}

			100% {
				transform: rotate(0) translate(0, 0) skewY(0);
			}
		}

		@keyframes school-rabbi-arm {
			0% {
				transform: rotate(0) translate(0, 0);
			}

			50% {
				transform: rotate(21deg) translate(-10px, -2px);
			}

			100% {
				transform: rotate(0) translate(0, 0);
			}
		}

		@keyframes school-rabbi-bag {
			0% {
				transform: rotate(0) translate(0, 0);
			}

			50% {
				transform: rotate(-15deg) translate(-10px, -12px);
			}

			100% {
				transform: rotate(0) translate(0, 0);
			}
		}

		@keyframes school-rabbi-ball {
			0% {
				transform: rotate(0) translate(0, 0);
			}

			50% {
				transform: rotate(10deg) translate(23px, 0);
			}

			100% {
				transform: rotate(0) translate(0, 0);
			}
		}
	}

	&__link {
		align-self: flex-start;

		span {
			padding: 33px 82px;
		}
	}

	&__title {
		max-width: 723px;
		margin-bottom: 58px;

		h2 {
			margin: 0;
			font-weight: 200;
			font-size: rem(80px);
			line-height: 1.2;

			span {
				font-weight: 800;
			}
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		&:nth-child(1) {
			width: 379px;
		}

		&:nth-child(2) {
			display: flex;
			flex-direction: column;
			width: calc(100% - 432px);
		}
	}

	&__list {
		width: 286px;
		margin-left: auto;
		padding: 30px 0 30px 12px;
		background: linear-gradient($color-purple-light, $color-purple-lighter);
		border-radius: 20px;
		box-shadow: inset 0 1px 0 #8e64cc;
	}

	&__item {
		position: relative;
		z-index: 10;
		padding: 9px 15px 13px 28px;
		overflow: hidden;
		color: $color-purple-darker;
		font-size: rem(18px);
		border-radius: 22px 0 0 22px;
		cursor: pointer;

		&._active {
			&::before {
				transform: translateX(0);
			}
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: $color-white;
			border-radius: 22px 0 0 22px;
			transform: translateX(100%);
			transform-origin: right;
			transition: transform 0.2s ease-in;
			content: "";
		}

		&:hover {
			&::before {
				transform: translateX(0);
			}
		}
	}

	&__products {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;
	}

	&__product {
		grid-column: 4 span;
		height: 502px;
		background-color: $color-white;
		border-radius: 20px;

		img {
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 100%;
			margin: 0 auto;
			object-fit: cover;
			transform: translateX(-50%);
			transition: transform 0.2s ease-in;
		}

		&-info {
			position: relative;
			display: flex;
			flex-direction: column;
			height: 100%;
			transition: transform 0.2s ease-in;
		}

		&-price {
			color: #345f7e;
			font-size: rem(20px);
		}

		&-quant {
			color: #345f7e;
			font-size: rem(16px);
		}

		&-legend {
			display: block;
			margin-top: auto;
			margin-bottom: 16px;
			color: #345f7e;
			font-weight: 700;
			font-size: rem(18px);
		}

		&-button {
			max-width: 343px;
		}

		&:nth-child(2),
		&:nth-child(5) {
			transform: translateY(50px);
		}

		@include desktop {
			&-button {
				position: absolute;
				bottom: 31px;
				left: 50%;
				max-width: 343px;
				transform: translateY(100%) translateX(-50%);
				visibility: hidden;
				opacity: 0;
				transition: transform 0.2s ease-in, opacity 0.2s ease-in, visibility 0.2s ease-in;
			}

			&:hover {
				.catalog__product-button {
					transform: translateY(0) translateX(-50%);
					visibility: visible;
					opacity: 1;
				}

				.catalog__product-info {
					transform: translateY(-100px);
				}

				img {
					transform: translateX(-50%) scale(0.8);
				}
			}
		}

		._wrap {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			padding: 31px 26px;
			overflow: hidden;
			outline: none;

			&:focus {
				.catalog__product-button {
					transform: translateY(0) translateX(-50%);
					visibility: visible;
					opacity: 1;
				}

				.catalog__product-info {
					transform: translateY(-100px);
				}

				img {
					transform: translateX(-50%) scale(0.8);
				}
			}
		}
	}

	&__product-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__show-more {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		margin-top: 88px;
		margin-bottom: 100px;
		color: $color-purple-darker;
		font-weight: 700;
		font-size: rem(20px);
		text-align: center;
		outline: none !important;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $color-purple-darker;
			transition: opacity 0.2s ease-in;
			content: "";
		}

		&:focus {
			&::before {
				opacity: 0;
			}
		}

		@include desktop {
			&:hover {
				&::before {
					opacity: 0;
				}
			}
		}
	}

	&__text {
		max-width: 675px;
		margin: 0;
		margin-bottom: 48px;
		font-weight: 800;
		font-size: rem(48px);
		font-family: $second-font;
		line-height: 1.23;
	}
}

.cart-button {
	display: flex;
	width: 336px;
	margin-top: 20px;

	&__text {
		width: calc(100% - 143px);
		padding: 27px 30px;
		color: $color-white;
		text-transform: uppercase;
		background-color: #00a888;
		border-radius: 15px 0 0 15px;
		cursor: pointer;
	}

	&._disabled {
		opacity: 0.5 !important;
		pointer-events: none;
	}
}

.quant {
	display: flex;
	align-items: center;
	width: 143px;
	padding: 23px 25px;
	background-color: #098e6a;
	border-radius: 0 15px 15px 0;

	.icon-cart {
		display: block;
		width: 23px;
		height: 23px;
		margin-right: 16px;
		color: #098e6a;
		fill: $color-white;
	}

	&__input {
		width: 32px;
		color: $color-white;
		text-align: center;
		background-color: transparent;
		border: none;
		border-radius: 0;
		outline: none;
	}

	&__plus {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 15px;
		height: 15px;
		font-weight: 700;
		font-size: 23px;
		cursor: pointer;
		user-select: none;
	}

	&__minus {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 15px;
		height: 15px;
		font-weight: 700;
		font-size: 23px;
		cursor: pointer;
		user-select: none;
	}
}

@keyframes levitateCatalog {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-3rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes levitateCatalogOut {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(2rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes levitateSchoolRabbit {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(3rem);
	}

	100% {
		transform: translateY(0);
	}
}
