.contacts-us {
	position: relative;
	padding-bottom: 90px;

	&::before {
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 150px;
		background-color: $color-purple-dark;
		content: "";
	}

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&._ball1 {
			top: -58px;
			left: -131px;
			width: 399px;
			height: 940px;
			transform: rotate(13deg);
			animation: contactBall1 ease-in-out 6s infinite;
		}

		@keyframes contactBall1 {
			0% {
				transform: rotate(13deg) translate(0, 0);
			}

			50% {
				transform: rotate(6deg) translate(-40px, 0);
			}

			100% {
				transform: rotate(13deg) translate(0, 0);
			}
		}

		&._ball2 {
			top: 151px;
			right: -44px;
			width: 349px;
			height: 610px;
			transform: rotate(55deg);
			animation: contactBall2 ease-in-out 6s infinite;
		}

		@keyframes contactBall2 {
			0% {
				transform: rotate(55deg) translate(0, 0);
			}

			50% {
				transform: rotate(35deg) translate(-94px, 10px);
			}

			100% {
				transform: rotate(55deg) translate(0, 0);
			}
		}
	}

	&__title {
		max-width: 1077px;
		margin: 0 auto;
		margin-bottom: 94px;
		text-align: center;

		h2 {
			margin: 0;
			font-weight: 200;
			font-size: rem(64px);
			line-height: 1.3;

			span {
				font-weight: 800;
				font-size: rem(80px);
				line-height: 1.2;
			}
		}
	}

	&__container {
		max-width: 1390px;
		margin: 0 auto;
	}

	&__top {
		position: relative;
		padding-bottom: 104px;

		._mobile-img {
			display: none;
		}

		.thief {
			position: absolute;
			top: 102px;
			right: 394px;
			width: 230px;
			height: 274px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}

		.tail {
			position: absolute;
			top: 106px;
			right: 485px;
			z-index: 90;
			width: 64px;
			height: 72px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			// transition: transform 0.1s linear;

			// &.easterEggggg {
			// 	transform: translateY(100px);
			// }

			&.anim {
				animation: tailAnim 0.8s linear;
			}
		}

		@keyframes tailAnim {
			0% {
				transform: rotate(0) scale(1);
			}

			25% {
				transform: rotate(-16deg) skew(0deg, 5deg) translate(-8px, 0);
			}

			75% {
				transform: rotate(16deg) skew(0deg, -5deg) translate(8px, 0);
			}

			100% {
				transform: rotate(0) scale(1);
			}
		}

		.discount-board {
			position: absolute;
			top: -53px;
			right: 580px;
			width: 281px;
			height: 353px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}

		img {
			position: absolute;
			right: -30px;
			bottom: -144px;
		}

		ul {
			max-width: 443px;
			margin-bottom: 20px;

			li {
				position: relative;
				margin-bottom: 9px;
				padding-left: 56px;
				color: $color-purple-darker;
				font-size: rem(20px);
				line-height: 1.4;

				&:nth-last-of-type(1) {
					margin-bottom: 0;
				}

				&::before {
					position: absolute;
					top: 4px;
					left: 2px;
					width: 42px;
					height: 36px;
					background-image: url(../img/list-icon.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					content: "";
				}
			}
		}
	}

	&__warninig {
		display: inline-block;
		max-width: 246px;
		color: $color-purple-darker;
		font-size: rem(16px);
		line-height: 1.3;
	}

	&__bottom {
		position: relative;
		padding: 32px;
		background-color: $color-blue;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 20px;

		.layer {
			position: absolute;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			.lazy {
				position: absolute;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}

			&.right-rabbit {
				right: 50px;
				bottom: 20px;
				width: 307px;
				height: 271px;

				.tie {
					top: 158px;
					left: 153px;
					width: 79px;
					height: 68px;
					transform: rotate(56deg);
					transition: transform 0.1s linear;

					&.easterEggggg {
						transform: translateY(100px);
					}
				}
			}

			&.left-rabbit {
				bottom: -93px;
				left: 50px;
				width: 214px;
				height: 383px;
			}

			.ear-left {
				top: 0;
				left: 32px;
				width: 60px;
				height: 150px;
				animation: smart-rabbit-ear-left 6s ease-in-out infinite;
			}

			@keyframes smart-rabbit-ear-left {
				0% {
					transform: rotate(0) translate(0, 0) skew(0, 0);
				}

				50% {
					transform: rotate(4deg) translate(5px, 0) skew(0deg, 4deg);
				}

				100% {
					transform: rotate(0) translate(0, 0) skew(0, 0);
				}
			}

			.ear-right {
				top: 0;
				right: 48px;
				width: 58px;
				height: 153px;
				animation: smart-rabbit-ear 6s ease-in-out infinite;
			}

			@keyframes smart-rabbit-ear {
				0% {
					transform: rotate(0) translate(0, 0) skew(0, 0);
				}

				50% {
					transform: rotate(-4deg) translate(-7px, 0) skew(0deg, -3deg);
				}

				100% {
					transform: rotate(0) translate(0, 0) skew(0, 0);
				}
			}

			.glasses {
				top: 135px;
				left: 0;
				width: 192px;
				height: 74px;
			}

			.nose {
				top: 154px;
				left: 63px;
				width: 67px;
				height: 48px;
			}

			.right-hand {
				top: 193px;
				left: 21px;
				width: 76px;
				height: 86px;
			}
		}

		._container {
			max-width: 668px;
			margin: 0 auto;
		}

		&::after {
			position: absolute;
			top: 32px;
			left: 32px;
			width: 40px;
			height: 40px;
			background-color: $color-purple-lighter;
			border-radius: 50%;
			box-shadow: 3px 3px 0 #7191de;
			content: "";
		}

		&::before {
			position: absolute;
			top: 32px;
			right: 32px;
			width: 40px;
			height: 40px;
			background-color: $color-purple-lighter;
			border-radius: 50%;
			box-shadow: -3px 3px 0 #7191de;
			content: "";
		}
	}

	&__form {
		width: 100%;
		margin-bottom: 20px;
	}

	&__promocode {
		position: relative;
		width: 437px;
		padding: 13px 75px;
		border: 1px dashed $color-white;
		border-radius: 41px;

		.watup {
			top: -33px;
			right: -27px;
			z-index: 11;
			width: 137px;
			height: 308px;
			transform: rotate(6deg);
		}
	}

	&__promocode-text {
		display: inline-block;
		max-width: 206px;
		font-weight: 700;
		font-size: rem(18px);
		line-height: 1.5;
	}

	@include _1680 {
		.layer {
			background-size: contain;

			&._ball1 {
				top: -168px;
				width: 359px;
				height: 880px;
			}

			&._ball2 {
				right: -84px;
				width: 309px;
				height: 590px;
			}
		}

		&__top {
			img {
				width: 80%;
			}

			.thief {
				top: 133px;
				right: 367px;
				width: 210px;
				height: 254px;
			}

			.tail {
				top: 136px;
				right: 447px;
			}

			.discount-board {
				top: -13px;
				right: 547px;
				width: 271px;
				height: 333px;
			}
		}
	}

	@include _1536 {
		&__title {
			margin-bottom: 70px;
		}

		.layer {
			&._ball2 {
				top: 311px;
				right: -24px;
				width: 229px;
				height: 400px;
			}
		}
	}

	@include _1440 {
		&__title {
			h2 {
				font-size: rem(56px);

				span {
					font-size: rem(60px);
				}
			}
		}

		.layer {
			&._ball2 {
				display: none;
			}
		}

		&__top {
			img {
				right: -130px;
			}

			.thief {
				top: 145px;
				right: 228px;
			}

			.tail {
				top: 146px;
				right: 308px;
			}

			.discount-board {
				right: 397px;
			}

			ul {
				transform: translateX(50px);
			}
		}

		&__warninig {
			transform: translateX(50px);
		}

		&__promocode {
			width: 407px;
			padding: 9px 53px;

			.watup {
				width: 107px;
				height: 238px;
			}
		}
	}

	@include _1366 {
		.layer {
			&._ball1 {
				top: -168px;
				left: -111px;
				width: 339px;
				height: 810px;
			}
		}

		&__top {
			ul {
				li {
					font-size: 1rem;
				}
			}

			img {
				right: -110px;
				bottom: -100px;
				width: 70%;
			}

			.thief {
				top: 39px;
				right: 178px;
				width: 190px;
				height: 224px;
			}

			.tail {
				top: 41px;
				right: 252px;
				width: 54px;
				height: 67px;
			}

			.discount-board {
				right: 340px;
				width: 191px;
				height: 233px;
			}
		}
	}

	@include _1280 {
		&__title {
			h2 {
				font-size: rem(50px);

				span {
					font-size: rem(54px);
				}
			}
		}

		&__top {
			img {
				width: 75%;
			}
		}

		&__bottom {
			.layer {
				background-size: contain;

				.lazy {
					background-size: contain;
				}

				&.left-rabbit {
					bottom: -69px;
					width: 174px;
					height: 283px;
				}

				&.right-rabbit {
					width: 227px;
					height: 201px;

					.tie {
						top: 118px;
						left: 114px;
						width: 59px;
						height: 48px;
					}
				}

				.ear-left {
					width: 40px;
					height: 120px;
				}

				.ear-right {
					width: 39px;
					height: 123px;
				}

				.glasses {
					top: 103px;
					width: 152px;
					height: 54px;
				}

				.nose {
					top: 115px;
					left: 49px;
					width: 57px;
					height: 38px;
				}

				.right-hand {
					top: 151px;
					left: 19px;
					width: 71px;
					height: 56px;
				}
			}
		}

		&__promocode {
			.watup {
				top: -29px;
				width: 87px;
				height: 218px;
			}
		}
	}

	@include _1200 {
		.layer {
			&._ball1 {
				top: -108px;
				left: -71px;
				width: 279px;
				height: 640px;
			}
		}

		&__top {
			ul {
				transform: none;
			}

			.thief {
				top: 112px;
				right: 139px;
				width: 150px;
				height: 174px;
			}

			.tail {
				top: 108px;
				right: 197px;
				width: 46px;
				height: 60px;
			}

			.discount-board {
				top: 20px;
				right: 260px;
				width: 181px;
				height: 213px;
			}
		}

		&__warninig {
			transform: none;
		}

		&__bottom {
			.layer {
				&.left-rabbit {
					left: 3px;
				}

				&.right-rabbit {
					right: 10px;
					bottom: 0;
				}
			}
		}

		&__promocode {
			width: 337px;
		}
	}

	@include _992 {
		&__title {
			h2 {
				font-size: rem(40px);

				span {
					font-size: rem(48px);
				}
			}
		}

		&__top {
			padding-bottom: 55px;

			img {
				bottom: -69px;
			}

			.thief {
				top: 36px;
				right: 112px;
			}

			.tail {
				top: 31px;
				right: 168px;
			}

			.discount-board {
				top: -50px;
				right: 230px;
			}
		}
	}

	@include _769 {
		&__title {
			position: relative;
			z-index: 20;
		}

		&__top {
			ul {
				li {
					padding-left: 44px;

					&::before {
						width: 29px;
						height: 26px;
					}
				}
			}

			.thief {
				top: 110px;
				right: 74px;
				width: 110px;
				height: 124px;
			}

			.tail {
				top: 101px;
				right: 118px;
				width: 36px;
				height: 48px;
			}

			.discount-board {
				top: 0;
				right: 162px;
			}
		}

		&__bottom {
			&::before,
			&::after {
				display: none;
			}

			.layer {
				&.right-rabbit {
					top: 20px;
					bottom: auto;
				}

				&.left-rabbit {
					right: 90px;
					left: auto;
				}
			}
		}
	}

	@include _740 {
		.layer {
			&._ball1 {
				right: -160px;
				left: auto;
			}
		}

		&__title {
			margin-bottom: 40px;
		}

		&__top {
			padding-bottom: 197px;

			img {
				right: -90px;
				bottom: -67px;
				width: 100%;
			}

			.thief {
				top: 246px;
				right: 94px;
			}

			.tail {
				top: 241px;
				right: 134px;
			}

			.discount-board {
				top: 146px;
				right: 169px;
				width: 171px;
				height: 193px;
			}
		}

		&__bottom {
			.layer {
				&.left-rabbit {
					right: -23px;
				}

				&.right-rabbit {
					display: none;
				}
			}
		}

		&__promocode {
			width: 317px;
		}
	}

	@include _540 {
		padding-bottom: 20px;

		&::before {
			height: 70px;
		}

		&__title {
			h2 {
				font-size: rem(36px);

				span {
					font-size: rem(36px);
				}
			}
		}

		.layer {
			&._ball1 {
				top: 301px;
				right: -50px;
				width: 169px;
				height: 410px;
			}
		}

		&__top {
			padding-bottom: 277px;

			img {
				right: auto;
				bottom: -55px;
				left: 50%;
				transform: translateX(-50%);
			}

			.thief {
				top: 344px;
				right: 137px;
			}

			.tail {
				top: 335px;
				right: 182px;
			}

			.discount-board {
				top: 230px;
				right: 224px;
			}
		}

		&__promocode {
			width: 90%;
			// padding: 9px 33px;

			// &-text {
			// 	font-size: 0.925rem;
			// }
		}

		&__bottom {
			.layer {
				&.left-rabbit {
					display: none;
				}
			}
		}
	}

	@include _480 {
		&__title {
			margin-bottom: 30px;

			h2 {
				font-size: 1.95rem;

				span {
					font-size: 1.95rem;
				}
			}
		}

		&__top {
			padding-bottom: 217px;

			img,
			.thief,
			.tail {
				display: none;
			}

			._mobile-img {
				display: block;

				img {
					bottom: -40px;
					left: 0;
					display: block;
					transform: none;
				}
			}
		}

		.layer {
			&._ball1 {
				display: none;
			}
		}

		.discount-board {
			top: 240px;
			right: 194px;
		}

		&__promocode {
			padding: 9px 23px;
			border-radius: 31px;

			&-text {
				font-size: 0.925rem;
			}

			.watup {
				top: -12px;
				right: -7px;
				width: 70px;
				height: 156px;
			}
		}
	}

	@include _375 {
		&__title {
			h2 {
				font-size: 1.75rem;

				span {
					font-size: 1.75rem;
				}
			}
		}

		&__bottom {
			padding: 22px;
		}

		&__top {
			padding-bottom: 197px;
		}

		.discount-board {
			top: 280px;
			right: 164px;
			width: 141px;
			height: 153px;
		}
	}

	@include _320 {
		&__top {
			.discount-board {
				top: 310px;
				right: 144px;
			}
		}

		&__promocode {
			.watup {
				right: -36px;
			}
		}
	}
}
