.custom {
	position: relative;
	z-index: 15;
	margin-bottom: 84px;
	padding-top: 6px;

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&._bg {
			bottom: 64px;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 1108px;
		}
	}

	&__title {
		max-width: 1036px;
		margin: 0 auto;
		margin-bottom: 111px;
		text-align: center;

		h2 {
			margin: 0;
			font-weight: 800;
			font-size: rem(80px);
			line-height: 1.2;
		}
	}

	&__container {
		padding-left: 143px;

		ul {
			max-width: 444px;
			margin-bottom: 34px;

			li {
				position: relative;
				margin-bottom: 13px;
				padding-left: 56px;
				color: $color-purple-darker;
				font-size: rem(20px);
				line-height: 1.3;

				&:nth-last-of-type(1) {
					margin-bottom: 0;
				}

				&::before {
					position: absolute;
					top: 0;
					left: 2px;
					width: 42px;
					height: 36px;
					content: url(../img/list-icon.svg);
				}
			}
		}

		p {
			max-width: 390px;
			margin: 0;
			margin-bottom: 40px;
			padding-left: 10px;
			color: $color-purple-darker;
			font-size: rem(32px);
			line-height: 1.4;
		}
	}

	&__button {
		margin-left: 10px;

		span {
			padding: 33px 78px;
		}
	}
}

.rabbits {
	position: relative;

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.flying-rabbit {
		position: absolute;
		top: 50%;
		left: -216px;
		width: 570px;
		height: 1118px;
		transform: translateY(-50%) rotate(-6deg);
		animation: levitateFlyin 6s ease-in-out infinite;
	}

	.body {
		top: 0;
		left: 0;
		z-index: 15;
		width: 570px;
		height: 1118px;
	}

	.ball1 {
		top: 270px;
		left: 149px;
		z-index: 15;
		width: 169px;
		height: 225px;
	}

	.ball2 {
		top: -3px;
		left: 142px;
		z-index: 15;
		width: 240px;
		height: 505px;
		animation: levitateBall 6s ease-in-out infinite;
	}

	.ball3 {
		top: 203px;
		left: 281px;
		z-index: 15;
		width: 171px;
		height: 289px;
		animation: levitateBall2 6s ease-in-out infinite;
	}

	.right-wing {
		right: 90px;
		bottom: 328px;
		width: 141px;
		height: 180px;
	}

	.arm-heart {
		right: 161px;
		bottom: 237px;
		width: 88px;
		height: 149px;
		animation: armhead 6s ease-in-out infinite;
	}

	@keyframes levitateFlyin {
		0% {
			transform: translateY(-50%) rotate(-6deg);
		}

		50% {
			transform: translateY(-40%) rotate(-6deg);
		}

		100% {
			transform: translateY(-50%) rotate(-6deg);
		}
	}

	@keyframes armhead {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(-33deg) translate(19px, 0);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	@keyframes levitateBall {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(14deg) translate(50px, -5px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	@keyframes levitateBall2 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(14deg) translate(41px, 10px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}
}

.birthday-rabbit2 {
	width: 840px;
	height: 581px;
}

.rabbit-with-baby {
	width: 1052px;
	height: 782px;
}
