.custom {
	position: relative;
	z-index: 15;
	margin-bottom: 84px;
	padding-top: 6px;

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&._bg {
			bottom: 64px;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 1108px;
		}
	}

	&__title {
		max-width: 1036px;
		margin: 0 auto;
		margin-bottom: 111px;
		text-align: center;

		h2 {
			margin: 0;
			font-weight: 800;
			font-size: rem(80px);
			line-height: 1.2;
		}
	}

	&__container {
		position: relative;
		padding-left: 143px;

		ul {
			max-width: 444px;
			margin-bottom: 34px;

			li {
				position: relative;
				margin-bottom: 13px;
				padding-left: 56px;
				color: $color-purple-darker;
				font-size: rem(20px);
				line-height: 1.3;

				&:nth-last-of-type(1) {
					margin-bottom: 0;
				}

				&::before {
					position: absolute;
					top: 0;
					left: 2px;
					width: 42px;
					height: 36px;
					background-image: url(../img/list-icon.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					content: "";
				}
			}
		}

		p {
			max-width: 390px;
			margin: 0;
			margin-bottom: 40px;
			padding-left: 10px;
			color: $color-purple-darker;
			font-size: rem(32px);
			line-height: 1.4;
		}
	}

	&__button {
		margin-left: 10px;

		span {
			padding: 33px 78px;
		}
	}

	.birthday-rabbits {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 845px;
		height: 698px;

		.layer {
			position: absolute;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}

		._first-rabbit {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 248px;
			height: 313px;

			._body {
				width: 248px;
				height: 313px;
			}

			._ear-left {
				position: absolute;
				top: -2px;
				left: 65px;
				width: 51px;
				height: 131px;
			}

			._ear-right {
				position: absolute;
				top: 0;
				right: 63px;
				width: 54px;
				height: 136px;
			}

			._hat {
				position: absolute;
				top: 61px;
				left: 50%;
				width: 47px;
				height: 64px;
				transform: translateX(-50%);
			}
		}

		._cake {
			position: absolute;
			bottom: 0;
			left: 208px;
			width: 213px;
			height: 400px;
		}

		._second-rabbit {
			position: absolute;
			right: 260px;
			bottom: 0;
			width: 203px;
			height: 409px;

			.body {
				width: 203px;
				height: 409px;
			}

			._hat {
				position: absolute;
				top: 31px;
				left: 50%;
				width: 81px;
				height: 110px;
				transform: translateX(-50%);
			}
		}

		.ball1 {
			position: absolute;
			top: 128px;
			right: 242px;
			width: 140px;
			height: 433px;
			animation: balllevitage 6s ease-in-out infinite;
		}

		@keyframes balllevitage {
			0% {
				transform: rotate(0) translate(0, 0);
			}

			50% {
				transform: rotate(-7deg) translate(-23px, -3px);
			}

			100% {
				transform: rotate(0) translate(0, 0);
			}
		}

		.ball2 {
			position: absolute;
			top: 0;
			right: 78px;
			width: 262px;
			height: 553px;
			animation: balllevitage2 6s ease-in-out infinite;
		}

		@keyframes balllevitage2 {
			0% {
				transform: rotate(0) translate(0, 0);
			}

			50% {
				transform: rotate(-7deg) translate(-35px, -3px);
			}

			100% {
				transform: rotate(0) translate(0, 0);
			}
		}

		.ball3 {
			position: absolute;
			top: 150px;
			right: 28px;
			width: 314px;
			height: 415px;
			animation: balllevitage3 6s ease-in-out infinite;
		}

		@keyframes balllevitage3 {
			0% {
				transform: rotate(0) translate(0, 0);
			}

			50% {
				transform: rotate(-7deg) translate(-23px, -16px);
			}

			100% {
				transform: rotate(0) translate(0, 0);
			}
		}
	}

	@include _1680 {
		&__title {
			max-width: 656px;

			h2 {
				font-size: rem(70px);
			}
		}

		.layer {
			&._bg {
				height: 1038px;
			}
		}

		.birthday-rabbits {
			width: 815px;
			height: 678px;

			._first-rabbit {
				width: 238px;
				height: 303px;

				._body {
					width: 238px;
					height: 303px;
				}

				._ear-right {
					top: 3px;
					width: 50px;
					height: 128px;
				}

				._ear-left {
					top: 3px;
					left: 65px;
					width: 50px;
					height: 121px;
				}

				._hat {
					top: 70px;
					width: 37px;
					height: 54px;
				}
			}

			._cake {
				bottom: -4px;
				width: 193px;
				height: 380px;
			}

			._second-rabbit {
				width: 183px;
				height: 389px;

				.body {
					width: 183px;
					height: 389px;
				}
			}

			.ball1 {
				right: 249px;
				width: 130px;
				height: 423px;
			}

			.ball2 {
				width: 242px;
				height: 533px;
			}

			.ball3 {
				width: 294px;
				height: 395px;
			}
		}
	}

	@include _1536 {
		&__title {
			margin-bottom: 70px;
		}

		.layer {
			&._bg {
				height: 978px;
			}
		}

		&__container {
			p {
				font-size: 1.6rem;
				line-height: 1.3;
			}

			ul {
				max-width: 484px;
			}
		}

		.birthday-rabbits {
			right: -90px;

			.ball2 {
				z-index: 15;
			}
		}
	}

	@include _1440 {
		&__title {
			h2 {
				font-size: rem(56px);
			}
		}

		&__container {
			ul {
				max-width: 467px;

				li {
					padding-left: 46px;
					font-size: 1rem;

					&::before {
						width: 31px;
						height: 26px;
					}
				}
			}
		}

		.birthday-rabbits {
			bottom: -50px;
		}

		.layer {
			&._bg {
				height: 848px;
			}
		}
	}

	@include _1366 {
		.birthday-rabbits {
			bottom: 20px;
			width: 715px;
			height: 598px;

			._first-rabbit {
				width: 208px;
				height: 263px;

				._body {
					width: 208px;
					height: 263px;
				}

				._ear-left {
					top: 5px;
					left: 55px;
					width: 50px;
					height: 101px;
				}

				._ear-right {
					top: 0;
					right: 63px;
					width: 40px;
					height: 108px;
				}

				._hat {
					top: 57px;
				}
			}

			._cake {
				left: 168px;
				width: 163px;
				height: 300px;
			}

			._second-rabbit {
				right: 260px;
				width: 143px;
				height: 289px;

				.body {
					width: 143px;
					height: 289px;
				}

				._hat {
					top: 33px;
					width: 51px;
					height: 70px;
				}
			}

			.ball1 {
				top: 168px;
				right: 239px;
				width: 110px;
				height: 333px;
			}

			.ball2 {
				top: 50px;
				right: 120px;
				width: 192px;
				height: 493px;
			}

			.ball3 {
				top: 190px;
				right: 80px;
				width: 234px;
				height: 315px;
			}
		}
	}

	@include _1280 {
		&__title {
			h2 {
				font-size: rem(50px);
			}
		}

		.layer {
			&._bg {
				height: 748px;
			}
		}

		&__container {
			padding-left: 63px;

			p {
				margin-bottom: 20px;
				font-size: 1.2rem;
			}
		}

		.birthday-rabbits {
			right: -130px;
			bottom: 20px;
		}
	}

	@include _1200 {
		&__container {
			padding-left: 0;
		}

		.layer {
			&._bg {
				height: 698px;
			}
		}

		.birthday-rabbits {
			right: -190px;
			bottom: -10px;
		}
	}

	@include _992 {
		&__title {
			max-width: 476px;

			h2 {
				font-size: rem(40px);
			}
		}

		.layer {
			&._bg {
				height: 658px;
			}
		}

		.birthday-rabbits {
			right: 0;
			width: 465px;
			height: 368px;

			._first-rabbit {
				width: 188px;
				height: 213px;

				._body {
					width: 188px;
					height: 213px;
				}

				._ear-left {
					width: 30px;
					height: 91px;
				}

				._ear-right {
					right: 59px;
					width: 30px;
					height: 97px;
				}

				._hat {
					top: 37px;
				}
			}

			._cake {
				left: 146px;
				width: 133px;
				height: 240px;
			}

			._second-rabbit {
				right: 70px;
				width: 123px;
				height: 249px;

				.body {
					width: 123px;
					height: 249px;
				}

				._hat {
					top: 19px;
				}
			}

			.ball3 {
				top: 55px;
				right: -80px;
				width: 184px;
				height: 235px;
			}

			.ball2 {
				top: -33px;
				right: -42px;
				width: 142px;
				height: 333px;
			}

			.ball1 {
				top: 42px;
				right: 49px;
				width: 80px;
				height: 243px;
			}
		}
	}

	@include _769 {
		margin-bottom: 114px;

		.layer {
			&._bg {
				height: 608px;
			}
		}

		&__title {
			margin-bottom: 40px;
		}

		.birthday-rabbits {
			right: -17px;
			bottom: -120px;
		}
	}

	@include _740 {
		margin-bottom: 184px;

		&__container {
			padding-bottom: 190px;
		}

		.birthday-rabbits {
			right: auto;
			left: 50%;
			transform: translateX(-50%);
		}

		.layer {
			&._bg {
				height: 818px;
			}
		}
	}

	@include _540 {
		margin-bottom: 204px;

		&__title {
			h2 {
				font-size: rem(36px);
			}
		}

		.layer {
			&._bg {
				height: 788px;
			}
		}
	}
}

.rabbits {
	position: relative;
	margin-bottom: 161px;

	.site-container {
		display: flex;
		flex-direction: column;
	}

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.flying-rabbit {
		position: absolute;
		top: 50%;
		left: -216px;
		width: 570px;
		height: 1118px;
		transform: translateY(-50%) rotate(-6deg);
		animation: levitateFlyin 6s ease-in-out infinite;
	}

	.body {
		top: 0;
		left: 0;
		z-index: 15;
		width: 570px;
		height: 1118px;
	}

	.ball1 {
		top: 270px;
		left: 149px;
		z-index: 15;
		width: 169px;
		height: 225px;
	}

	.ball2 {
		top: -3px;
		left: 142px;
		z-index: 15;
		width: 240px;
		height: 505px;
		animation: levitateBall 6s ease-in-out infinite;
	}

	.ball3 {
		top: 203px;
		left: 281px;
		z-index: 15;
		width: 171px;
		height: 289px;
		animation: levitateBall2 6s ease-in-out infinite;
	}

	.right-wing {
		right: 90px;
		bottom: 328px;
		width: 141px;
		height: 180px;
	}

	.arm-heart {
		right: 161px;
		bottom: 237px;
		width: 88px;
		height: 149px;
		animation: armhead 6s ease-in-out infinite;
	}

	@keyframes levitateFlyin {
		0% {
			transform: translateY(-50%) rotate(-6deg);
		}

		50% {
			transform: translateY(-40%) rotate(-6deg);
		}

		100% {
			transform: translateY(-50%) rotate(-6deg);
		}
	}

	@keyframes armhead {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(-33deg) translate(19px, 0);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	@keyframes levitateBall {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(14deg) translate(50px, -5px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	@keyframes levitateBall2 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(14deg) translate(41px, 10px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	@include _1680 {
		.flying-rabbit {
			left: -206px;
			width: 550px;
			height: 1098px;

			.body {
				width: 550px;
				height: 1098px;
			}

			.right-wing {
				right: 130px;
				bottom: 368px;
				width: 121px;
				height: 160px;
			}

			.arm-heart {
				right: 156px;
				bottom: 231px;
				width: 88px;
				height: 139px;
			}

			.ball1 {
				width: 149px;
				height: 209px;
			}

			.ball2 {
				top: 5px;
				left: 137px;
				width: 230px;
				height: 485px;
			}

			.ball3 {
				top: 220px;
				left: 273px;
				width: 151px;
				height: 269px;
			}
		}
	}

	@include _1440 {
		padding-top: 80px;
	}

	@include _1366 {
		padding-top: 0;

		.flying-rabbit {
			width: 490px;
			height: 958px;

			.body {
				width: 490px;
				height: 948px;
			}

			.right-wing {
				right: 110px;
				bottom: 308px;
				width: 101px;
				height: 150px;
			}

			.arm-heart {
				right: 143px;
				bottom: 198px;
				width: 88px;
				height: 129px;
			}

			.ball1 {
				top: 200px;
				left: 129px;
				width: 129px;
				height: 249px;
			}

			.ball2 {
				top: 60px;
				left: 131px;
				width: 180px;
				height: 365px;
			}

			.ball3 {
				top: 213px;
				left: 237px;
				width: 121px;
				height: 219px;
			}
		}
	}

	@include _992 {
		.flying-rabbit {
			left: -140px;
			width: 360px;
			height: 648px;

			.body {
				width: 360px;
				height: 648px;
			}

			.right-wing {
				right: 82px;
				bottom: 205px;
				width: 71px;
				height: 100px;
			}

			.arm-heart {
				right: 104px;
				bottom: 118px;
				width: 68px;
				height: 99px;
			}

			.ball1 {
				top: 130px;
				left: 89px;
				width: 99px;
				height: 169px;
			}

			.ball2 {
				top: 0;
				left: 84px;
				width: 140px;
				height: 295px;
			}

			.ball3 {
				top: 120px;
				left: 167px;
				width: 91px;
				height: 179px;
			}
		}
	}

	@include _769 {
		margin-bottom: 81px;
	}

	@include _740 {
		margin-bottom: 31px;
		padding-bottom: 150px;

		.flying-rabbit {
			top: auto;
			bottom: -390px;
			transform: none;
		}
	}

	@include _540 {
		display: none;
	}
}

.birthday-rabbit2 {
	position: relative;
	width: 840px;
	height: 581px;
	margin-left: auto;

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.smart-rabbit {
		position: absolute;
		bottom: 0;
		left: 150px;
		width: 328px;
		height: 450px;
	}

	.gift-rabbit {
		position: absolute;
		right: 160px;
		bottom: 0;
		width: 242px;
		height: 342px;
	}

	.smart-ball1 {
		position: absolute;
		top: 148px;
		left: 0;
		z-index: 15;
		width: 211px;
		height: 293px;
		animation: smartBallLevitage 6s ease-in-out infinite;
	}

	@keyframes smartBallLevitage {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(5deg) translate(9px, -10px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	.smart-ball2 {
		position: absolute;
		top: 73px;
		left: 27px;
		width: 192px;
		height: 365px;
		animation: smartBallLevitage2 6s ease-in-out infinite;
	}

	@keyframes smartBallLevitage2 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(-5deg) translate(-10px, 13px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	.smart-ball3 {
		position: absolute;
		top: 0;
		left: 336px;
		width: 173px;
		height: 421px;
		animation: smartBallLevitage3 6s ease-in-out infinite;
	}

	@keyframes smartBallLevitage3 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(-5deg) translate(-17px, 0);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	.smart-ball4 {
		position: absolute;
		top: 97px;
		right: 228px;
		width: 112px;
		height: 348px;
		animation: smartBallLevitage4 6s ease-in-out infinite;
	}

	@keyframes smartBallLevitage4 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(5deg) translate(14px, -5px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	.smart-ball5 {
		position: absolute;
		top: 8px;
		right: 0;
		width: 237px;
		height: 439px;
		animation: smartBallLevitage5 6s ease-in-out infinite;
	}

	@keyframes smartBallLevitage5 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(5deg) translate(20px, 7px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	@include _1680 {
		width: 800px;
		height: 561px;

		.smart-rabbit {
			width: 308px;
			height: 430px;
		}

		.gift-rabbit {
			width: 222px;
			height: 322px;
		}

		.smart-ball1 {
			top: 158px;
			left: 20px;
			width: 191px;
			height: 273px;
		}

		.smart-ball2 {
			top: 92px;
			left: 41px;
			width: 172px;
			height: 345px;
		}

		.smart-ball3 {
			top: 20px;
			left: 326px;
			width: 153px;
			height: 401px;
		}

		.smart-ball4 {
			top: 127px;
			right: 218px;
			width: 92px;
			height: 328px;
		}

		.smart-ball5 {
			top: 25px;
			right: 5px;
			width: 217px;
			height: 419px;
		}
	}

	@include _1366 {
		width: 760px;
		height: 531px;

		.smart-rabbit {
			width: 238px;
			height: 340px;
		}

		.gift-rabbit {
			width: 192px;
			height: 252px;
		}

		.smart-ball1 {
			top: 211px;
			left: 40px;
			width: 161px;
			height: 213px;
		}

		.smart-ball2 {
			top: 163px;
			left: 59px;
			width: 142px;
			height: 255px;
		}

		.smart-ball3 {
			top: 120px;
			left: 297px;
			width: 113px;
			height: 281px;
		}

		.smart-ball4 {
			top: 197px;
			right: 218px;
			width: 72px;
			height: 258px;
		}

		.smart-ball5 {
			top: 150px;
			right: 75px;
			width: 147px;
			height: 289px;
		}
	}

	@include _1200 {
		width: 680px;
		height: 451px;

		.smart-ball1 {
			top: 132px;
		}

		.smart-ball2 {
			top: 81px;
		}

		.smart-ball3 {
			top: 44px;
		}

		.smart-ball4 {
			top: 115px;
		}

		.smart-ball5 {
			top: 80px;
		}
	}

	@include _992 {
		width: 530px;
		height: 411px;

		.smart-rabbit {
			left: 80px;
			width: 188px;
			height: 250px;
		}

		.gift-rabbit {
			right: 140px;
			width: 145px;
			height: 212px;
		}

		.smart-ball1 {
			left: -9px;
			width: 131px;
			height: 183px;
		}

		.smart-ball2 {
			top: 102px;
			left: 2px;
			width: 122px;
			height: 225px;
		}

		.smart-ball3 {
			top: 109px;
			left: 313px;
			width: 113px;
			height: 221px;
		}

		.smart-ball4 {
			top: 139px;
			right: 178px;
			width: 72px;
			height: 188px;
		}

		.smart-ball5 {
			top: 130px;
			right: 75px;
			width: 107px;
			height: 199px;
		}
	}

	@include _769 {
		margin-bottom: 40px;
	}

	@include _740 {
		transform: translateX(160px);
	}
}

.rabbit-with-baby {
	position: relative;
	width: 1052px;
	height: 782px;
	margin-left: auto;

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

	.rabbit-mama {
		position: absolute;
		right: 251px;
		bottom: 0;
		z-index: 17;
		width: 348px;
		height: 489px;
	}

	.baby-rabbit {
		position: absolute;
		bottom: 0;
		left: 137px;
		width: 407px;
		height: 322px;

		._toy {
			position: absolute;
			top: 105px;
			left: 98px;
			width: 35px;
			height: 30px;
			transform: scale(0.8) translate(0, -4px);
			animation: babyRabbitToy 2.7s ease-in-out infinite;
		}

		@keyframes babyRabbitToy {
			0% {
				transform: scale(0.8) translate(0, -4px);
			}

			50% {
				transform: scale(1) translate(0, 0);
			}

			100% {
				transform: scale(0.8) translate(0, -4px);
			}
		}

		._ear-left {
			position: absolute;
			top: 0;
			left: 81px;
			width: 35px;
			height: 88px;
			animation: babyRabbitEarLeft 6s ease-in-out infinite;
		}

		._ear-right {
			position: absolute;
			top: 1px;
			left: 118px;
			width: 36px;
			height: 93px;
			animation: babyRabbitEarRight 6s ease-in-out infinite;
		}

		@keyframes babyRabbitEarLeft {
			0% {
				transform: rotate(0) translate(0, 0);
			}

			50% {
				transform: rotate(-5deg) translate(-3px, 2px);
			}

			100% {
				transform: rotate(0) translate(0, 0);
			}
		}

		@keyframes babyRabbitEarRight {
			0% {
				transform: rotate(0) translate(0, 0);
			}

			50% {
				transform: rotate(5deg) translate(3px, 1px);
			}

			100% {
				transform: rotate(0) translate(0, 0);
			}
		}
	}

	.ball1 {
		position: absolute;
		top: 294px;
		left: 6px;
		width: 149px;
		height: 310px;
		animation: babyRabbitBall1 6s ease-in-out infinite;
	}

	@keyframes babyRabbitBall1 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(5deg) translate(13px, -7px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	.ball2 {
		position: absolute;
		top: 336px;
		left: 117px;
		width: 107px;
		height: 241px;
		animation: none;
	}

	._ball3 {
		position: absolute;
		top: 55px;
		right: 250px;
		z-index: 20;
		width: 147px;
		height: 491px;
		animation: babyRabbitBall3 6s ease-in-out infinite;
	}

	@keyframes babyRabbitBall3 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(5deg) translate(13px, -7px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	.ball4 {
		position: absolute;
		top: 97px;
		right: 89px;
		z-index: 17;
		width: 232px;
		height: 437px;
	}

	.ball5 {
		position: absolute;
		top: 273px;
		right: 40px;
		z-index: 19;
		width: 222px;
		height: 271px;
		animation: babyRabbitBall5 6s ease-in-out infinite;
	}

	@keyframes babyRabbitBall5 {
		0% {
			transform: rotate(0) translate(0, 0);
		}

		50% {
			transform: rotate(-5deg) translate(-9px, -9px);
		}

		100% {
			transform: rotate(0) translate(0, 0);
		}
	}

	@include _1680 {
		width: 1022px;
		height: 742px;

		.rabbit-mama {
			width: 328px;
			height: 469px;
		}

		.baby-rabbit {
			width: 387px;
			height: 302px;

			._toy {
				top: 100px;
				left: 93px;
			}

			._ear-left {
				width: 35px;
				height: 78px;
			}

			._ear-right {
				left: 112px;
				height: 83px;
			}
		}

		.ball1 {
			left: 16px;
			width: 129px;
			height: 290px;
		}

		.ball2 {
			width: 97px;
			height: 221px;
		}

		._ball3 {
			top: 65px;
			width: 127px;
			height: 471px;
		}

		.ball4 {
			top: 101px;
			right: 95px;
			width: 212px;
			height: 417px;
		}

		.ball5 {
			top: 269px;
			right: 60px;
			width: 202px;
			height: 251px;
		}
	}

	@include _1366 {
		width: 932px;
		height: 662px;

		.rabbit-mama {
			width: 288px;
			height: 389px;
		}

		.baby-rabbit {
			width: 337px;
			height: 232px;

			._ear-left {
				top: 4px;
				left: 79px;
				width: 25px;
				height: 58px;
			}

			._ear-right {
				top: 4px;
				left: 106px;
				width: 26px;
				height: 60px;
			}

			._toy {
				top: 74px;
				width: 23px;
				height: 23px;
			}
		}

		.ball1 {
			top: 334px;
			left: 54px;
			width: 109px;
			height: 210px;
		}

		.ball2 {
			top: 366px;
			left: 129px;
			width: 87px;
			height: 181px;
		}

		._ball3 {
			top: 155px;
			right: 250px;
			width: 107px;
			height: 311px;
		}

		.ball4 {
			top: 161px;
			right: 133px;
			width: 172px;
			height: 307px;
		}

		.ball5 {
			top: 272px;
			right: 100px;
			width: 172px;
			height: 211px;
		}
	}

	@include _1200 {
		width: 762px;
		height: 542px;

		.rabbit-mama {
			right: 151px;
			width: 218px;
			height: 329px;
		}

		.ball1 {
			top: 214px;
		}

		.ball2 {
			top: 236px;
		}

		._ball3 {
			top: 68px;
			right: 140px;
		}

		.ball4 {
			top: 75px;
			right: 26px;
		}

		.ball5 {
			top: 182px;
			right: -10px;
		}
	}

	@include _992 {
		width: 651px;
		height: 397px;

		.baby-rabbit {
			width: 227px;
			height: 182px;

			._ear-right {
				top: 2px;
				left: 63px;
				width: 26px;
				height: 50px;
			}

			._ear-left {
				top: 2px;
				left: 42px;
				width: 25px;
				height: 48px;
			}

			._toy {
				top: 61px;
				left: 55px;
				width: 18px;
				height: 13px;
			}
		}

		.rabbit-mama {
			width: 178px;
			height: 261px;
		}

		.ball1 {
			top: 145px;
			left: 67px;
			width: 79px;
			height: 160px;
		}

		.ball2 {
			top: 143px;
			left: 120px;
			width: 77px;
			height: 161px;
		}

		._ball3 {
			top: 30px;
			height: 237px;
		}

		.ball4 {
			top: 11px;
			right: 36px;
			width: 172px;
			height: 254px;
		}

		.ball5 {
			top: 106px;
			right: 5px;
			width: 172px;
			height: 171px;
		}
	}

	@include _769 {
		margin-left: 120px;
	}

	@include _740 {
		display: none;
	}
}
