.discount {
	position: relative;
	margin-top: -4px;
	padding-top: 70px;
	padding-bottom: 176px;
	background-color: $color-blue-light;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&::before {
		position: absolute;
		top: -83px;
		left: 0;
		width: 100%;
		height: 150px;
		background: linear-gradient(180deg, rgba($color: $color-blue, $alpha: 0.2), rgba($color: #a0baf8, $alpha: 0.2) 100%);
		content: "";
	}

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&._bubles {
			top: -380px;
			left: 0;
			z-index: 15;
			width: 100%;
			height: 781px;
		}

		&.discount-sky1 {
			top: 330px;
			left: -63px;
			z-index: 18;
			width: 429px;
			height: 318px;
			animation: smallLevatage 6s ease-in-out infinite;
		}

		@keyframes smallLevatage {
			from {
				transform: translateY(0);
			}

			50% {
				transform: translateY(-14px);
			}

			to {
				transform: translateY(0);
			}
		}

		&.discount-sky2 {
			bottom: -6px;
			left: -98px;
			z-index: 15;
			width: 600px;
			height: 437px;
			animation: smallLevatage 6s ease-in-out infinite;
		}

		&.discount-sky3 {
			right: -90px;
			bottom: 278px;
			z-index: 20;
			width: 549px;
			height: 437px;
			animation: smallLevatage 6s ease-in-out infinite;
		}

		&.lazy-rabbit {
			bottom: 230px;
			left: 205px;
			z-index: 11;
			width: 307px;
			height: 271px;
			transform: rotate(49deg);

			.tie {
				position: absolute;
				top: 163px;
				left: 78px;
				width: 69px;
				height: 60px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;

				&.hover {
					animation: tickle 0.4s linear;
				}
			}

			@keyframes tickle {
				0% {
					transform: rotate(0);
				}

				25% {
					transform: rotate(-17deg);
				}

				75% {
					transform: rotate(17deg);
				}

				100% {
					transform: rotate(0);
				}
			}

			.left-ear {
				position: absolute;
				top: 23px;
				left: -5px;
				width: 69px;
				height: 123px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				transition: transform 0.4s linear;

				&.hover {
					transform: skewY(15deg) translate(0, -6px);
				}
			}

			.right-ear {
				position: absolute;
				top: -1px;
				left: 68px;
				width: 69px;
				height: 123px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				transition: transform 0.4s linear;

				&.hover {
					transform: skewY(7deg) translate(-1px, -1px);
				}
			}
		}

		&.wedding-rabbit {
			top: -22px;
			left: 87px;
			z-index: 16;
			width: 280px;
			height: 432px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			animation: smallLevatage 6s ease-in-out infinite;
		}

		&.simple-rabbit {
			top: 125px;
			right: 90px;
			z-index: 16;
			width: 207px;
			height: 410px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			animation: smallLevatage 6s ease-in-out infinite;
		}
	}

	&__button {
		span {
			padding: 33px 72px;
		}
	}

	&__legend {
		max-width: 216px;
		margin: 0;
		margin-bottom: 32px;
		color: #516488;
		font-weight: 200;
		font-size: rem(32px);
		line-height: 1.5;

		span {
			font-weight: 800;
			font-size: rem(40px);
			line-height: 1.3;
		}
	}

	&__title {
		position: relative;
		z-index: 25;
		max-width: 788px;
		margin: 0 auto;
		margin-bottom: 74px;
		text-align: center;

		h2 {
			margin: 0;
			font-weight: 200;
			font-size: rem(80px);
			line-height: 1.2;

			span {
				font-weight: 800;
			}
		}
	}

	&__container {
		position: relative;
		width: 100%;
		max-width: 1104px;
		margin: 0 auto;
	}

	&__content {
		position: relative;
		z-index: 15;
		box-sizing: border-box;
		width: 100%;
		padding: 63px 58px;
		padding-bottom: 95px;
		background-color: $color-purple-light;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 20px;

		&::before {
			position: absolute;
			top: 16px;
			right: 16px;
			bottom: 16px;
			left: 16px;
			z-index: -1;
			border: 2px solid $color-white;
			border-radius: 20px;
			content: "";
		}
	}

	&__stock {
		display: inline-block;
		margin-bottom: 16px;
		padding: 2px 25px;
		font-weight: 400;
		font-size: rem(20px);
		background-color: #8e67eb;
		border-radius: 18px;
	}

	&__pagination {
		position: absolute;
		bottom: 50px !important;
		left: 50% !important;
		z-index: 25;
		display: flex;
		align-items: center;
		width: auto !important;
		margin-right: 50% !important;
		transform: translateX(-50%) !important;

		.swiper-pagination-bullet {
			width: 60px;
			height: 2px;
			margin: 0 12px !important;
			background-color: #6c92f1;
			border-radius: 0;
		}
	}

	&__link {
		position: relative;
		z-index: 15;
		display: inline-block;
		margin-top: 48px;

		span {
			padding: 29px 41px;
			color: $color-white;
			font-size: rem(18px);
			background: rgb(120, 95, 225);
			background: linear-gradient(13deg, rgba(120, 95, 225, 1) 5%, rgba(132, 98, 230, 1) 12%, rgba(143, 103, 235, 1) 18%, rgba(157, 123, 238, 1) 81%, rgba(178, 153, 242, 1) 88%, rgba(202, 184, 246, 1) 93%);
		}
	}

	@include _1680 {
		.layer {
			background-size: contain;

			&._bubles {
				top: -310px;
				height: 681px;
			}

			&.wedding-rabbit {
				top: 8px;
				width: 230px;
				height: 332px;
			}

			&.discount-sky1 {
				top: 280px;
				left: -113px;
				width: 409px;
				height: 298px;
			}

			&.simple-rabbit {
				top: 165px;
				width: 187px;
				height: 340px;
			}

			&.discount-sky2 {
				bottom: 4px;
				left: -148px;
				width: 550px;
				height: 397px;
			}

			&.discount-sky3 {
				right: -140px;
				bottom: 328px;
				width: 519px;
				height: 387px;
			}

			&.lazy-rabbit {
				left: 105px;
				width: 287px;
				height: 241px;

				.tie {
					top: 143px;
					left: 68px;
				}

				.left-ear {
					top: 28px;
					left: -1px;
					width: 69px;
					height: 103px;
				}

				.right-ear {
					top: 2px;
					left: 60px;
					width: 67px;
					height: 103px;
				}
			}
		}

		&__title {
			h2 {
				font-size: rem(70px);
			}
		}
	}

	@include _1536 {
		padding-bottom: 146px;

		&__content {
			padding: 43px 58px 55px;
		}

		.layer {
			&.discount-sky1 {
				left: -143px;
				width: 369px;
				height: 268px;
			}

			&.discount-sky2 {
				bottom: 64px;
				left: -168px;
				width: 490px;
				height: 347px;
			}

			&.discount-sky3 {
				right: -141px;
				bottom: 488px;
				width: 379px;
				height: 287px;
			}

			&.wedding-rabbit {
				top: 58px;
				left: 37px;
				width: 180px;
				height: 272px;
			}

			&.simple-rabbit {
				top: 185px;
				width: 137px;
				height: 270px;
			}

			&.lazy-rabbit {
				bottom: 276px;
				left: 65px;
				width: 257px;
				height: 211px;

				.tie {
					top: 123px;
					left: 64px;
				}

				.left-ear {
					top: 21px;
					left: 3px;
					width: 59px;
					height: 93px;
				}

				.right-ear {
					top: 6px;
					left: 60px;
					width: 57px;
					height: 83px;
				}
			}
		}
	}

	@include _1440 {
		&__title {
			max-width: 558px;

			h2 {
				font-size: rem(56px);
			}
		}

		&__container {
			max-width: 944px;
		}

		.layer {
			&.discount-sky3 {
				bottom: 188px;
			}

			&.simple-rabbit {
				top: 435px;
			}

			&.lazy-rabbit {
				left: 35px;
			}

			&.discount-sky1 {
				top: 260px;
				left: -93px;
				width: 349px;
				height: 238px;
			}

			&._bubles {
				top: -270px;
			}
		}
	}

	@include _1366 {
		.layer {
			&.discount-sky1,
			&.wedding-rabbit {
				display: none;
			}
		}

		&__title {
			margin-bottom: 54px;
		}
	}

	@include _1280 {
		&__title {
			margin-bottom: 40px;

			h2 {
				font-size: rem(50px);
			}
		}

		&__container {
			max-width: 834px;
		}

		&__legend {
			max-width: 176px;
			font-size: 1.6rem;

			span {
				display: block;
				font-size: 2rem;
			}
		}

		&__stock {
			font-size: 1rem;
		}

		&__content {
			padding: 33px 38px 45px;
		}

		&__pagination {
			bottom: 33px !important;
		}

		.layer {
			&.simple-rabbit {
				top: 305px;
			}

			&.lazy-rabbit {
				bottom: 286px;
			}
		}
	}

	@include _1200 {
		.layer {
			&.lazy-rabbit,
			&.discount-sky2 {
				display: none;
			}

			&.wedding-rabbit,
			&.discount-sky1 {
				display: block;
			}

			&.wedding-rabbit {
				top: auto;
				bottom: 170px;
				left: -3px;
				width: 160px;
				height: 242px;
			}

			&.discount-sky1 {
				top: auto;
				bottom: 40px;
				width: 299px;
				height: 188px;
			}

			&.discount-sky3 {
				width: 359px;
				height: 257px;
			}

			&.simple-rabbit {
				top: 345px;
				width: 117px;
				height: 220px;
			}
		}
	}

	@include _992 {
		&__title {
			max-width: 393px;

			h2 {
				font-size: rem(40px);
			}
		}

		&__container {
			z-index: 18;
		}

		.layer {
			&.wedding-rabbit {
				z-index: 19;
			}

			&.discount-sky1 {
				z-index: 20;
			}

			&.discount-sky3 {
				bottom: 98px;
			}

			&.simple-rabbit {
				top: 435px;
				z-index: 19;
			}
		}

		&__link {
			span {
				padding: 24px 38px;
				font-size: 1rem;
			}
		}
	}

	@include _769 {
		padding-bottom: 86px;

		.layer {
			&.wedding-rabbit,
			&.discount-sky1,
			&.discount-sky3,
			&.simple-rabbit {
				display: none;
			}
		}
	}

	@include _740 {
		.layer {
			&._bubles {
				top: -54px;
				height: 251px;
			}
		}

		&__legend {
			font-size: 1.4rem;

			span {
				font-size: 1.6rem;
			}
		}

		&__content {
			padding: 23px 28px 35px;

			&::before {
				top: 10px;
				right: 10px;
				bottom: 10px;
				left: 10px;
			}
		}

		&__pagination {
			bottom: 19px !important;
		}
	}

	@include _540 {
		&__title {
			h2 {
				font-size: rem(36px);
			}
		}

		&__button {
			span {
				font-size: 0.9rem;
			}
		}

		.layer {
			&._bubles {
				top: -74px;
				height: 211px;
			}
		}
	}
}
