.hero-section {
	position: relative;
	margin-bottom: 40px;
	padding-top: 212px;
	padding-bottom: 204px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&::before {
		position: absolute;
		bottom: -20px;
		left: 0;
		z-index: 150;
		width: 100%;
		height: 97px;
		background: linear-gradient(180deg, rgba($color: #d5bff4, $alpha: 0.2) 0%, #d5bff4);
		content: "";
	}

	.layer {
		position: absolute;
		z-index: 80;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&._sky1 {
			top: 21px;
			left: 0;
			width: 106px;
			height: 430px;
		}

		&._sky2 {
			top: 119px;
			left: 36px;
			width: 169px;
			height: 169px;
			animation: levitateX 6s ease-in-out infinite;
		}

		&._sky3 {
			top: 220px;
			left: 23px;
			width: 78px;
			height: 78px;
			animation: levitateXOut 3s ease-in-out infinite;
		}

		&._sky4 {
			top: 380px;
			left: 2px;
			width: 180px;
			height: 180px;
			animation: levitateSmallX 3s ease-in-out infinite;
		}

		&._sky5 {
			top: 600px;
			left: 0;
			width: 181px;
			height: 188px;
			animation: levitateSmallX 3s ease-in-out infinite;
			animation-delay: 0.6s;
		}

		&._sky6 {
			top: 170px;
			right: 30px;
			width: 132px;
			height: 132px;
			animation: levitateXOut 6s ease-in-out infinite;
		}

		&._sky7 {
			top: 190px;
			right: 0;
			width: 58px;
			height: 190px;
		}

		&._sky8 {
			top: 341px;
			right: 0;
			width: 112px;
			height: 142px;
			animation: levitateSmall 6s ease-in-out infinite;
		}

		&._sky9 {
			top: 610px;
			right: 0;
			width: 245px;
			height: 189px;
			animation: levitateSmallXOut 6s ease-in-out infinite;
		}

		&._skyTinny {
			bottom: 230px;
			left: 350px;
			width: 185px;
			height: 100px;
			animation: levitateSmallXOut 6s ease-in-out infinite;
		}

		&._ball1 {
			top: 267px;
			left: 190px;
			width: 292px;
			height: 654px;
			animation: levitate 6s ease-in-out infinite;
		}

		&._ball2 {
			top: 470px;
			left: 450px;
			width: 138px;
			height: 378px;
			animation: levitateOut 6s ease-in-out infinite;
		}

		&._ball3 {
			top: 154px;
			right: 660px;
			width: 196px;
			height: 443px;
			animation: levitate 6s ease-in-out infinite;
		}

		&._ball4 {
			top: 300px;
			right: 466px;
			width: 183px;
			height: 484px;
			animation: levitateOut 6s ease-in-out infinite;
		}

		&._light-right {
			top: 0;
			right: 0;
			z-index: 20;
			width: 817px;
			height: 663px;
		}

		&._light-left {
			top: 0;
			left: 0;
			z-index: 50;
			width: 1133px;
			height: 838px;
		}

		&._hero-mountains {
			bottom: -70px;
			left: 0;
			z-index: 50;
			width: 100%;
			height: 460px;
			background-position: bottom center;
			background-size: cover;
		}

		&._rabbit {
			bottom: 0;
			left: 630px;
			width: 221px;
			height: 549px;
			perspective: 800px;
			animation: levitateOut 6s ease-in-out infinite;

			&._hover {
				.rabbit-ear-right {
					animation: tickling1 0.5s linear;
				}

				.rabbit-ear-left {
					animation: tickling2 0.5s linear;
				}

				@keyframes tickling1 {
					0% {
						transform: rotate(0) translate(0, 0);
					}

					25% {
						transform: rotate(-8deg) translate(-3px, 0);
					}

					75% {
						transform: rotate(8deg) translate(5px, 4px);
					}

					100% {
						transform: rotate(0) translate(0, 0);
					}
				}

				@keyframes tickling2 {
					0% {
						transform: rotate(0) translate(0, 0);
					}

					25% {
						transform: rotate(-8deg) translate(-4px, -2px);
					}

					75% {
						transform: rotate(8deg) translate(4px, 3px);
					}

					100% {
						transform: rotate(0) translate(0, 0);
					}
				}
			}

			.rabbit-component {
				position: absolute;
				top: 0;
				left: 0;
				width: 221px;
				height: 549px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}

			.rabbit {
				z-index: 15;
			}

			.rabbit-ear-left {
				top: -1.7px;
				right: 30px;
				left: auto;
				z-index: 16;
				width: 48px;
				height: 66px;
				animation: ear-left 6s ease-in-out infinite;
			}

			.rabbit-ear-right {
				top: 20px;
				right: 1px;
				left: auto;
				z-index: 16;
				width: 47px;
				height: 72px;
				animation: ear-right 6s ease-in-out infinite;
			}

			.rabbit-leg {
				top: 85px;
				left: 92px;
				z-index: 17;
				width: 38px;
				height: 63px;
				animation: rabbit-leg 6s ease-in-out infinite;
			}

			@keyframes rabbit-leg {
				0% {
					transform: rotate(0) translate(0, 0);
				}

				50% {
					transform: rotate(-21deg) translate(12px, 3px);
				}

				100% {
					transform: rotate(0) translate(0, 0);
				}
			}

			@keyframes ear-left {
				0% {
					transform: rotate(0) translateX(0) translateY(0) skewY(0);
				}

				50% {
					transform: rotate(-12deg) translateX(-4px) translateY(-3px) skewY(-9deg);
				}

				100% {
					transform: rotate(0) translateX(0) translateY(0) skewY(0);
				}
			}

			@keyframes ear-right {
				0% {
					transform: rotate(0) translateX(0) translateY(0) skewY(0);
				}

				50% {
					transform: rotate(13deg) translateX(5px) translateY(-3px) skewY(-12deg);
				}

				100% {
					transform: rotate(0) translateX(0) translateY(0) skewY(0);
				}
			}
		}

		&._rabbit-small {
			right: 140px;
			bottom: 200px;
			z-index: 15;
			width: 112px;
			height: 299px;
			animation: levitateOut 6s ease-in-out infinite;
		}

		.rabit-eye {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 50;
			width: 15px;
			height: 15px;
			background-color: transparent;
			border-radius: 50%;

			.dot {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				height: 10px;
				background-color: transparent;
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}

			&._right {
				top: 96px;
				right: 36px;
				left: auto;
			}

			&._left {
				top: 62px;
				left: 125px;
			}
		}
	}

	&__button {
		margin-left: 425px;

		span {
			padding: 33px 78px;
		}
	}

	&__container {
		position: relative;
		z-index: 90;
		max-width: 961px;
		margin: 0 auto;

		h1 {
			margin: 0;
			margin-bottom: 11px;
			font-weight: 200;
			font-size: rem(102px);
			font-family: $second-font;
			line-height: 1.14;

			span {
				font-weight: 800;

				span {
					&:nth-of-type(1) {
						display: block;
						padding-left: 67px;
					}

					&:nth-of-type(2) {
						display: block;
						padding-left: 423px;
					}
				}
			}
		}

		p {
			margin: 0;
			margin-bottom: 48px;
			padding-left: 426px;
			font-size: rem(20px);
			line-height: 1.4;
		}
	}

	@include _1680 {
		&__container {
			max-width: 811px;

			h1 {
				font-size: rem(80px);
			}
		}

		.layer {
			background-size: contain;

			&._sky1 {
				top: 61px;
				left: 0;
				width: 86px;
				height: 390px;
			}

			&._sky2 {
				width: 149px;
				height: 149px;
			}

			&._sky4 {
				width: 160px;
				height: 160px;
			}

			&._sky5 {
				top: 590px;
				width: 161px;
				height: 168px;
			}

			&._sky6 {
				width: 122px;
				height: 122px;
			}

			&._sky7 {
				top: 220px;
				right: 0;
				width: 48px;
				height: 170px;
			}

			&._sky8 {
				top: 313px;
				right: 0;
				width: 102px;
				height: 132px;
			}

			&._sky9 {
				top: 570px;
				width: 220px;
				height: 169px;
			}

			&._skyTinny {
				bottom: 250px;
				left: 270px;
				width: 175px;
				height: 90px;
			}

			&._ball1 {
				left: 170px;
				width: 242px;
				height: 574px;
			}

			&._ball2 {
				left: 410px;
				width: 128px;
				height: 338px;
			}

			&._ball3 {
				top: 174px;
				right: 640px;
				width: 176px;
				height: 413px;
			}

			&._ball4 {
				top: 270px;
				right: 436px;
				width: 163px;
				height: 454px;
			}

			&._rabbit {
				bottom: 30px;
				left: 560px;
				width: 201px;
				height: 529px;

				.rabbit {
					width: 201px;
					height: 529px;
				}

				.rabbit-ball {
					width: 201px;
					height: 529px;
				}

				.rabbit-component {
					background-size: contain;
				}

				.rabbit-ear-left {
					top: 16.3px;
					width: 42px;
					height: 60px;
				}

				.rabbit-ear-right {
					top: 30px;
					right: 4px;
					width: 40px;
					height: 66px;
				}

				.rabbit-leg {
					top: 94px;
					left: 82px;
					width: 33px;
					height: 53px;
				}

				.rabit-eye {
					&._left {
						top: 71px;
						left: 108px;
					}

					&._right {
						top: 101px;
						right: 36px;
					}
				}
			}

			&._light-right {
				width: 587px;
				height: 493px;
			}

			&._light-left {
				width: 973px;
				height: 728px;
			}

			&._hero-mountains {
				height: 390px;
			}
		}
	}

	@include _1536 {
		padding-top: 152px;

		.layer {
			&._skyTinny {
				display: none;
			}

			&._ball3 {
				right: 490px;
			}

			&._ball4 {
				right: 286px;
			}
		}
	}

	@include _1440 {
		padding-top: 162px;

		&::before {
			height: 54px;
		}

		&__container {
			max-width: 772px;

			h1 {
				font-size: 4rem;

				span {
					span {
						&:nth-of-type(2) {
							padding-left: 173px;
						}
					}
				}
			}

			p {
				padding-left: 354px;
			}
		}

		&__button {
			margin-left: 355px;
		}

		.layer {
			&._ball2,
			&._ball4,
			&._sky3 {
				display: none;
			}

			&._ball1 {
				left: 120px;
			}

			&._ball3 {
				right: 310px;
			}

			&._rabbit {
				bottom: -120px;
				left: 390px;
			}

			&._rabbit-small {
				right: 200px;
				bottom: 170px;
			}
		}
	}

	@include _1366 {
		.layer {
			&._sky1 {
				top: 61px;
				width: 65px;
				height: 290px;
			}

			&._sky4 {
				width: 140px;
				height: 140px;
			}

			&._sky2 {
				width: 129px;
				height: 129px;
			}

			&._ball1 {
				top: 307px;
				width: 222px;
				height: 494px;
			}

			&._ball3 {
				top: 204px;
				width: 166px;
				height: 353px;
			}

			&._rabbit-small {
				right: 150px;
				bottom: 200px;
				width: 92px;
				height: 249px;
			}

			&._sky6 {
				right: 30px;
				width: 102px;
				height: 102px;
			}

			&._sky7 {
				width: 38px;
				height: 120px;
			}

			&._sky8 {
				width: 92px;
				height: 122px;
			}

			&._rabbit {
				left: 320px;

				.rabbit,
				.rabbit-ball {
					width: 181px;
					height: 429px;
				}

				.rabbit-ear-left {
					top: 0.3px;
					right: 45px;
					width: 37px;
					height: 52px;
				}

				.rabbit-ear-right {
					top: 19px;
					right: 27px;
					width: 37px;
					height: 52px;
				}

				.rabbit-leg {
					top: 65px;
					left: 75px;
					width: 24px;
					height: 47px;
				}

				.rabit-eye {
					.dot {
						width: 8px;
						height: 8px;
					}

					&._left {
						top: 47px;
						left: 99px;
					}

					&._right {
						top: 74px;
						right: 48px;
					}
				}
			}
		}
	}

	@include _1280 {
		padding-top: 132px;

		&__container {
			max-width: 672px;

			h1 {
				font-size: rem(54px);
			}

			p {
				padding-left: 255px;
				font-size: 1.15rem;
			}
		}

		&__button {
			margin-left: 254px;
		}

		.layer {
			&._sky9 {
				top: 510px;
			}

			&._sky5 {
				top: 507px;
			}
		}
	}

	@include _1200 {
		&__container {
			text-align: center;

			h1 {
				span {
					span {
						&:nth-of-type(1) {
							padding: 0;
						}

						&:nth-of-type(2) {
							padding: 0;
						}
					}
				}
			}

			p {
				padding-left: 0;
			}
		}

		&__button {
			margin-left: 0;
		}

		.layer {
			&._sky2 {
				width: 109px;
				height: 99px;
			}

			&._sky4 {
				width: 120px;
				height: 120px;
			}

			&._sky5 {
				left: -4px;
				width: 141px;
				height: 138px;
			}

			&._sky9 {
				width: 170px;
				height: 129px;
			}

			&._ball1 {
				top: 237px;
				left: 70px;
				width: 172px;
				height: 424px;
			}

			&._ball3 {
				top: 164px;
				right: 200px;
				width: 146px;
				height: 323px;
			}

			&._rabbit {
				bottom: -190px;
				left: 170px;
			}

			&._rabbit-small {
				bottom: 120px;
			}

			&._hero-mountains {
				height: 350px;
			}

			&._light-left {
				width: 483px;
				height: 428px;
			}

			&._light-right {
				width: 437px;
				height: 363px;
			}
		}
	}

	@include _992 {
		&__container {
			h1 {
				font-size: rem(44px);
			}

			p {
				margin-bottom: 38px;
				font-size: 1rem;
			}
		}
	}

	@include _769 {
		.layer {
			&._sky4,
			&._sky2,
			&._sky6 {
				display: none;
			}

			&._ball1 {
				top: 147px;
				left: 10px;
			}

			&._ball3 {
				top: 151px;
				right: 80px;
				width: 126px;
				height: 283px;
			}

			&._rabbit {
				bottom: -170px;
				left: 40px;
			}

			&._sky7 {
				top: 130px;
			}

			&._sky8 {
				top: 223px;
				right: -10px;
			}

			&._sky9 {
				top: 460px;
				width: 140px;
			}

			&._rabbit-small {
				right: 70px;
			}

			&._skyTinny {
				bottom: 80px;
				left: 200px;
				display: block;
				width: 145px;
				height: 80px;
			}
		}
	}

	@include _740 {
		padding-bottom: 344px;

		.layer {
			&._light-left {
				width: 363px;
				height: 298px;
			}

			&._light-right {
				width: 345px;
				height: 283px;
			}

			&._ball1 {
				// display: none;
			}

			&._rabbit {
				bottom: -170px;
				left: 30px;
			}

			&._sky5 {
				top: 427px;
			}

			&._sky9 {
				top: 540px;
			}

			&._rabbit-small {
				bottom: 188px;
			}
		}
	}

	@include _540 {
		padding-top: 102px;

		&__container {
			h1 {
				font-size: rem(32px);
			}

			p {
				font-size: 0.9rem;
			}
		}

		.layer {
			&._ball1 {
				animation-name: levitatesm2;
			}

			&._ball3 {
				right: 20px;
				animation-name: levitatesm3;
			}

			&._sky5 {
				animation-duration: 6s;
				animation-delay: 0;
			}

			&._rabbit-small {
				display: none;
			}

			&._skyTinny {
				display: none;
			}

			&._rabbit {
				bottom: -230px;
				left: 161px;
				animation: levitatesm 6s ease-in-out infinite;
			}
		}
	}

	@include _480 {
		margin-bottom: 20px;

		.layer {
			&._rabbit {
				left: 131px;
			}

			&._ball3 {
				top: 111px;
				right: -30px;
				width: 126px;
			}

			&._ball1 {
				top: 217px;
				left: -40px;
			}

			&._sky1 {
				top: 53px;
				width: 45px;
				height: 190px;
			}

			&._sky9 {
				width: 120px;
			}

			&._sky8 {
				top: 313px;
			}

			&._sky7 {
				top: 220px;
			}

			&._sky5 {
				z-index: 83;
				width: 111px;
			}

			&._light-right {
				width: 195px;
				height: 183px;
			}

			&._light-left {
				width: 263px;
				height: 198px;
			}
		}

		&__button {
			span {
				padding: 23px 57px;
			}
		}
	}

	@include _375 {
		.layer {
			&._rabbit {
				left: 95px;
			}
		}
	}

	@include _360 {
		.layer {
			&._ball3 {
				top: 57px;
				right: -24px;
				width: 106px;
			}

			&._ball1 {
				top: 307px;
				width: 152px;
				height: 314px;
			}

			&._sky8 {
				width: 72px;
				height: 92px;
			}

			&._sky9 {
				width: 110px;
				height: 89px;
			}

			&._sky5 {
				width: 91px;
			}

			&._sky1 {
				width: 37px;
				height: 150px;
			}

			&._sky7 {
				width: 28px;
				height: 90px;
			}
		}
	}

	@include _320 {
		.layer {
			&._rabbit {
				left: 75px;
			}
		}
	}
}

@keyframes levitatesm3 {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes levitatesm2 {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(2rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes levitatesm {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes levitate {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-5rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes levitateOut {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(4rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes levitateX {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-5rem);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes levitateXOut {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(5rem);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes levitateSmall {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(2rem);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes levitateSmallX {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-2rem);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes levitateSmallXOut {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(2rem);
	}

	100% {
		transform: translateX(0);
	}
}
