.reasons {
	position: relative;
	padding-bottom: 342px;
	background-color: #abc3ff;

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&._ball1 {
			top: -394px;
			right: -108px;
			z-index: 25;
			width: 462px;
			height: 1398px;
			animation: levitateCatalog 6s ease-in-out infinite;
		}

		&._ball2 {
			bottom: -671px;
			left: -100px;
			z-index: 26;
			width: 433px;
			height: 1057px;
			animation: levitateCatalog 6s ease-in-out infinite;
		}
	}

	&__title {
		position: relative;
		z-index: 10;
		max-width: 892px;
		margin: 0 auto;
		margin-bottom: 86px;
		text-align: center;

		h2 {
			margin: 0;
			font-weight: 200;
			font-size: rem(80px);
			line-height: 1.2;

			span {
				font-weight: 800;
			}
		}

		.title-layer {
			position: absolute;
			top: -230px;
			left: 0;
			z-index: -1;
			width: 1195px;
			height: 959px;
			background-repeat: no-repeat;
			background-position: top left;
			background-size: cover;
		}
	}

	&__container {
		position: relative;
		z-index: 25;
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(12, 1fr);
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		grid-column: 4 span;
		min-height: 334px;
		padding: 48px 32px;
		overflow: hidden;
		background: linear-gradient(31deg, rgba(143, 132, 239, 1) 9%, rgba(126, 133, 235, 1) 37%, rgba(113, 129, 230, 1) 54%, rgba(113, 129, 231, 1) 74%, rgba(76, 105, 219, 1) 94%);
		background-color: $color-blue;
		border-radius: 20px;

		img {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
		}

		span {
			position: relative;
			z-index: 1;
			display: block;
			max-width: 380px;
			margin: 0;
			margin-top: 79px;
			margin-bottom: 16px;
			font-weight: 700;
			font-size: rem(24px);
			font-family: $main-font;
			line-height: 1.4;
		}

		p {
			position: relative;
			z-index: 1;
			max-width: 353px;
			margin: 0;
			font-size: rem(18px);
			line-height: 1.4;
		}

		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(5) {
			background: rgb(151, 127, 241);
			background: linear-gradient(153deg, rgba(151, 127, 241, 1) 5%, rgba(95, 126, 214, 1) 24%, rgba(125, 145, 232, 1) 66%, rgba(144, 168, 241, 1) 84%);
		}

		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6) {
			img {
				display: none;
			}
		}

		&:nth-child(5) {
			span {
				max-width: 258px;
			}
		}

		&:nth-child(3) {
			span {
				max-width: 288px;
			}
		}
	}

	@include _1680 {
		padding-bottom: 282px;

		.layer {
			background-size: contain;

			&._ball1 {
				top: -374px;
				right: -108px;
				width: 382px;
				height: 1198px;
			}

			&._ball2 {
				bottom: -671px;
				width: 393px;
				height: 927px;
			}
		}

		&__title {
			max-width: 762px;

			h2 {
				font-size: rem(70px);
			}

			.title-layer {
				width: 885px;
				height: 899px;
			}
		}
	}

	@include _1536 {
		.layer {
			&._ball1 {
				top: -204px;
				right: -108px;
				width: 352px;
				height: 1018px;
			}

			&._ball2 {
				bottom: -591px;
				width: 323px;
				height: 827px;
			}
		}

		&__item {
			min-height: 294px;

			img {
				right: -40px;
				width: 50%;
			}

			span {
				margin-top: 50px;
			}

			&:nth-child(5) {
				img {
					top: auto;
					bottom: 0;
				}
			}
		}
	}

	@include _1440 {
		padding-bottom: 242px;

		.layer {
			&._ball1 {
				top: -84px;
			}

			&._ball2 {
				bottom: -611px;
			}
		}

		&__title {
			max-width: 632px;

			h2 {
				font-size: rem(56px);
			}
		}

		&__item {
			min-height: 264px;
			padding: 38px 22px;

			span {
				font-size: 1.3rem;
			}

			p {
				max-width: 90%;
				font-size: 1rem;
			}
		}
	}

	@include _1366 {
		.layer {
			&._ball1 {
				width: 292px;
				height: 798px;
			}

			&._ball2 {
				bottom: -511px;
				width: 293px;
				height: 687px;
			}

			&._bg {
				height: 788px;
			}
		}
	}

	@include _1280 {
		padding-bottom: 202px;

		&__title {
			margin-bottom: 56px;

			h2 {
				font-size: rem(50px);
			}
		}
	}

	@include _1200 {
		&__item {
			span {
				margin-top: 20px;
			}
		}

		&__container {
			grid-gap: 25px;
		}
	}

	@include _992 {
		&__title {
			max-width: 452px;

			.title-layer {
				top: -140px;
				left: -10px;
				width: 665px;
				height: 619px;
			}

			h2 {
				font-size: rem(40px);
			}
		}

		&__item {
			min-height: 224px;
			padding: 27px 28px;

			span {
				font-size: 1rem;
			}

			p {
				font-size: 0.9rem;
			}
		}

		.layer {
			&._ball1 {
				top: -44px;
				right: -98px;
				width: 232px;
				height: 598px;
			}

			&._ball2 {
				bottom: -361px;
				left: -60px;
				width: 193px;
				height: 487px;
			}
		}
	}

	@include _769 {
		padding-bottom: 152px;

		&__item {
			grid-column: 6 span;

			&:nth-child(1) {
				order: 1;
			}

			&:nth-child(2) {
				order: 2;
			}

			&:nth-child(3) {
				order: 4;
			}

			&:nth-child(4) {
				order: 3;
			}

			&:nth-child(5) {
				order: 5;
			}

			&:nth-child(6) {
				order: 6;
			}
		}

		.layer {
			&._ball1 {
				top: -114px;
			}

			&._ball2 {
				bottom: -396px;
			}
		}
	}

	@include _540 {
		.layer {
			&._ball1 {
				top: -191px;
			}

			&._ball2 {
				display: none;
			}
		}

		&__title {
			h2 {
				font-size: rem(36px);
			}
		}
	}
}
