.reasons {
	position: relative;
	padding-bottom: 342px;
	background-color: #abc3ff;

	.layer {
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		&._ball1 {
			top: -394px;
			right: -108px;
			z-index: 25;
			width: 462px;
			height: 1398px;
			animation: levitateCatalog 6s ease-in-out infinite;
		}

		&._ball2 {
			bottom: -671px;
			left: -100px;
			z-index: 26;
			width: 433px;
			height: 1057px;
			animation: levitateCatalog 6s ease-in-out infinite;
		}
	}

	&__title {
		position: relative;
		z-index: 10;
		max-width: 892px;
		margin: 0 auto;
		margin-bottom: 86px;
		text-align: center;

		h2 {
			margin: 0;
			font-weight: 200;
			font-size: rem(80px);
			line-height: 1.2;

			span {
				font-weight: 800;
			}
		}

		.title-layer {
			position: absolute;
			top: -230px;
			left: 0;
			z-index: -1;
			width: 1195px;
			height: 959px;
			background-repeat: no-repeat;
			background-position: top left;
			background-size: cover;
		}
	}

	&__container {
		position: relative;
		z-index: 25;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		grid-column: 4 span;
		min-height: 334px;
		padding: 48px 32px;
		overflow: hidden;
		background: linear-gradient(31deg, rgba(143, 132, 239, 1) 9%, rgba(126, 133, 235, 1) 37%, rgba(113, 129, 230, 1) 54%, rgba(113, 129, 231, 1) 74%, rgba(76, 105, 219, 1) 94%);
		background-color: $color-blue;
		border-radius: 20px;

		img {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
		}

		span {
			position: relative;
			z-index: 1;
			display: block;
			max-width: 380px;
			margin: 0;
			margin-top: 79px;
			margin-bottom: 16px;
			font-weight: 700;
			font-size: rem(24px);
			font-family: $main-font;
			line-height: 1.4;
		}

		p {
			position: relative;
			z-index: 1;
			max-width: 353px;
			margin: 0;
			font-size: rem(18px);
			line-height: 1.4;
		}

		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(5) {
			background: rgb(151, 127, 241);
			background: linear-gradient(153deg, rgba(151, 127, 241, 1) 5%, rgba(95, 126, 214, 1) 24%, rgba(125, 145, 232, 1) 66%, rgba(144, 168, 241, 1) 84%);
		}

		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(6) {
			img {
				display: none;
			}
		}

		&:nth-child(5) {
			span {
				max-width: 258px;
			}
		}

		&:nth-child(3) {
			span {
				max-width: 288px;
			}
		}
	}
}
