section.section.contacts-us
	.layer._ball1.lazy(data-bg="img/form-ball1.webp", data-bg-fallback="img/form-ball1.png")
	.layer._ball2.lazy(data-bg="img/form-ball2.webp", data-bg-fallback="img/form-ball2.png")
	.site-container
		.contacts-us__title
			h2
				span
					|	Вам нравятся шарики,
				br
				|	а нам - люди, которые их любят!
		.contacts-us__container
			.contacts-us__top
				+pictureLazy("form-img.png", "Держите промокод на скидку 10%")
				ul
					li
						|	Поможем выбрать нужный набор шариков;
					li
						|	Не&nbsp;найдем подходящего&nbsp;&mdash; соберем с&nbsp;нуля;
					li
						|	Для доставки бесплатно упакуем шарики в&nbsp;специальные огромные пакеты: ничего не&nbsp;запутается, не&nbsp;улетит и&nbsp;не&nbsp;запачкается
				span.contacts-us__warninig
					|	* Не распространяется  на акционные наборы
			.contacts-us__bottom.lazy(data-bg="img/custom-bg.webp", data-bg-fallback="img/custom-bg.png")
				._container
					form.contacts-us__form.custom-form(action="")
						.custom-form__row
							.custom-form__col
								label.custom-form__label
									input.custom-form__input(type="text", name="Имя", placeholder="Ваше имя")
								label.custom-form__label
									input.custom-form__input(type="text", name="phone", placeholder="Ваш номер")
							.custom-form__col
								button.button-reset.btn.custom-form__button
									span
										|	Написать нам
								label.custom-form__agreement
									input.custom-form__argeement-input.visually-hidden(type="checkbox", name="arg", value="arg", checked="checked")
									span.custom-form__agreement-text
										|	Я даю свое согласие на обработку персональных данных и соглашаюсь с
										a(href="")
											|	политикой конфиденциальности
					.contacts-us__promocode
						.layer.watup.lazy(data-bg="img/watup.webp", data-bg-fallback="img/watup.png")
						span.contacts-us__promocode-text
							|	Пришлем промокод в WhatsApp, ловите :)

