section.section.custom
	.layer._bg.lazy(data-bg="img/reasons-bg.webp", data-bg-fallback="img/reasons-bg.png")
	.site-container
		.custom__title
			h2
				|	Шарик по вашему дизайну? Легко!
		.custom__container
			ul
				li
					strong
						|	Сделаем наклейку
					|	на&nbsp;большой (от&nbsp;45&nbsp;см) шар с&nbsp;надписью или рисунком.
				li
					strong
						|	Напечатаем имя,
					|	рисунок или целое поздравление на&nbsp;5-7&nbsp;слов.
				li
					|	Срок
					strong
						|	изготовления&nbsp;&mdash; прямо сейчас!
				li
					strong
						|	Меч из&nbsp;Майнкрафта? Эльза из&nbsp;Холодного Сердца? Корона или торт? Ни&nbsp;слова больше!
			p
				|	Придадим уникальности вашей композиции? :)
			button.button-reset.btn.custom__button
				span
					|	Написать нам
