section.section.custom
	.layer._bg.lazy(data-bg="img/reasons-bg.webp", data-bg-fallback="img/reasons-bg.png")
	.site-container
		.custom__title
			h2
				|	Шарик по вашему дизайну? Легко!
		.custom__container
			ul
				li
					strong
						|	Сделаем наклейку
					|	на&nbsp;большой (от&nbsp;45&nbsp;см) шар с&nbsp;надписью или рисунком.
				li
					strong
						|	Напечатаем имя,
					|	рисунок или целое поздравление на&nbsp;5-7&nbsp;слов.
				li
					|	Срок
					strong
						|	изготовления&nbsp;&mdash; прямо сейчас!
				li
					strong
						|	Меч из&nbsp;Майнкрафта? Эльза из&nbsp;Холодного Сердца? Корона или торт? Ни&nbsp;слова больше!
			p
				|	Придадим уникальности вашей композиции? :)
			button.button-reset.btn.custom__button
				span
					|	Написать нам
			.birthday-rabbits
				._first-rabbit
					.layer._body.lazy(data-bg="img/birthday-rabbit.webp", data-bg-fallback="img/birthday-rabbit.png")
					.layer._ear-left.lazy(data-bg="img/first-rabbit-ear-left.webp", data-bg-fallback="img/first-rabbit-ear-left.png")
					.layer._ear-right.lazy(data-bg="img/first-rabbit-ear-right.webp", data-bg-fallback="img/first-rabbit-ear-right.png")
					.layer._hat.lazy(data-bg="img/first-rabbit-hat.webp", data-bg-fallback="img/first-rabbit-hat.png")

				.layer._cake.lazy(data-bg="img/birtday-cake.webp", data-bg-fallback="img/birtday-cake.png")
				._second-rabbit
					.layer.body.lazy(data-bg="img/second-rabbit.webp", data-bg-fallback="img/second-rabbit.png")
					.layer._hat.lazy(data-bg="img/rabbit-hat2.webp", data-bg-fallback="img/rabbit-hat2.png")
				.layer.ball1.lazy(data-bg="img/birthday-ball1.webp", data-bg-fallback="img/birthday-ball1.png")
				.layer.ball2.lazy(data-bg="img/birthday-ball2.webp", data-bg-fallback="img/birthday-ball2.png")
				.layer.ball3.lazy(data-bg="img/birthday-ball3.webp", data-bg-fallback="img/birthday-ball3.png")

section.rabbits
	.flying-rabbit
		.layer.body.lazy(data-bg="img/flying-rabbit.webp", data-bg-fallback="img/flying-rabbit.png")
		.layer.ball1.lazy(data-bg="img/flying-ball1.webp", data-bg-fallback="img/flying-ball1.png")
		.layer.ball2.lazy(data-bg="img/flying-ball2.webp", data-bg-fallback="img/flying-ball2.png")
		.layer.ball3.lazy(data-bg="img/flying-ball3.webp", data-bg-fallback="img/flying-ball3.png")
		.layer.right-wing.lazy(data-bg="img/right-wing.webp", data-bg-fallback="img/right-wing.png")
		.layer.arm-heart.lazy(data-bg="img/arm-heart.webp", data-bg-fallback="img/arm-heart.png")

	.site-container
		.birthday-rabbit2
			.layer.smart-rabbit.lazy(data-bg="img/smart-rabbit1.webp", data-bg-fallback="img/smart-rabbit1.png")
			.layer.gift-rabbit.lazy(data-bg="img/gift-rabbit.webp", data-bg-fallback="img/gift-rabbit.png")
			.layer.smart-ball1.lazy(data-bg="img/smart-ball1.webp", data-bg-fallback="img/smart-ball1.png")
			.layer.smart-ball2.lazy(data-bg="img/smart-ball2.webp", data-bg-fallback="img/smart-ball2.png")
			.layer.smart-ball3.lazy(data-bg="img/smart-ball3.webp", data-bg-fallback="img/smart-ball3.png")
			.layer.smart-ball4.lazy(data-bg="img/smart-ball4.webp", data-bg-fallback="img/smart-ball4.png")
			.layer.smart-ball5.lazy(data-bg="img/smart-ball5.webp", data-bg-fallback="img/smart-ball5.png")

		.rabbit-with-baby
			.layer.rabbit-mama.lazy(data-bg="img/rabbit-mama.webp", data-bg-fallback="img/rabbit-mama.png")
			.layer.baby-rabbit.lazy(data-bg="img/baby-rabbit.webp", data-bg-fallback="img/baby-rabbit.png")
				.layer._toy.lazy(data-bg="img/baby-rabbit-toy2.webp", data-bg-fallback="img/baby-rabbit-toy2.png")
				.layer._ear-left.lazy(data-bg="img/baby-rabbit-ear-left.webp", data-bg-fallback="img/baby-rabbit-ear-left.png")
				.layer._ear-right.lazy(data-bg="img/baby-rabbit-ear-right.webp", data-bg-fallback="img/baby-rabbit-ear-right.png")
			.layer.ball1.lazy(data-bg="img/baby-ball1.webp", data-bg-fallback="img/baby-ball1.png")
			.layer.ball2.lazy(data-bg="img/baby-ball2.webp", data-bg-fallback="img/baby-ball2.png")
			.layer._ball3.lazy(data-bg="img/baby-ball3.webp", data-bg-fallback="img/baby-ball3.png")
			.layer.ball4.lazy(data-bg="img/baby-ball4.webp", data-bg-fallback="img/baby-ball4.png")
			.layer.ball5.lazy(data-bg="img/baby-ball5.webp", data-bg-fallback="img/baby-ball5.png")


