section.section.custom
	.layer._bg.lazy(data-bg="img/reasons-bg.webp", data-bg-fallback="img/reasons-bg.png")
	.site-container
		.custom__title
			h2
				|	Шарик по вашему дизайну? Легко!
		.custom__container
			ul
				li
					strong
						|	Сделаем наклейку
					|	на большой  (от 45 см) шар с надписью или рисунком.
				li
					strong
						|	Напечатаем имя,
					|	рисунок или целое поздравление на 5-7 слов.
				li
					|	Срок
					strong
						|	изготовления – прямо сейчас!
				li
					strong
						|	Меч из Майнкрафта? Эльза из Холодного Сердца? Корона или торт?  Ни слова больше!
			p
				|	Придадим уникальности вашей композиции? :)
			button.button-reset.btn.custom__button
				span
					|	Написать нам
