section.section.discount
	//- .lazy(data-bg="img/discount-bg.webp", data-bg-fallback="img/discount-bg.png")
	.layer._bubles.lazy(data-bg="img/bubles.webp", data-bg-fallback="img/bubles.png")
	.site-container
		.discount__title
			h2
				span
					|	Воздушные скидки
				|	для вашей улыбки
