section.hero-section.lazy(data-bg="img/hero-bg.webp", data-bg-fallback="img/hero-bg.png")
	.layer._sky1.lazy(data-bg="img/sky1.webp", data-bg-fallback="img/sky1.png")
	.layer._sky2.lazy(data-bg="img/sky2.webp", data-bg-fallback="img/sky2.png")
	.layer._sky3.lazy(data-bg="img/sky3.webp", data-bg-fallback="img/sky3.png")
	.layer._sky4.lazy(data-bg="img/sky4.webp", data-bg-fallback="img/sky4.png")
	.layer._sky5.lazy(data-bg="img/sky5.webp", data-bg-fallback="img/sky5.png")
	.layer._sky6.lazy(data-bg="img/sky6.webp", data-bg-fallback="img/sky6.png")
	.layer._sky7.lazy(data-bg="img/sky7.webp", data-bg-fallback="img/sky7.png")
	.layer._sky8.lazy(data-bg="img/sky8.webp", data-bg-fallback="img/sky8.png")
	.layer._sky9.lazy(data-bg="img/sky9.webp", data-bg-fallback="img/sky9.png")
	.layer._ball1.lazy(data-bg="img/ball1.webp", data-bg-fallback="img/ball1.png")
	.layer._ball2.lazy(data-bg="img/ball2.webp", data-bg-fallback="img/ball2.png")
	.layer._ball3.lazy(data-bg="img/ball3.webp", data-bg-fallback="img/ball3.png")
	.layer._ball4.lazy(data-bg="img/ball4.webp", data-bg-fallback="img/ball4.png")
	.layer._light-right.lazy(data-bg="img/light-right.webp", data-bg-fallback="img/light-right.png")
	.layer._light-left.lazy(data-bg="img/light-left.webp", data-bg-fallback="img/light-left.png")
	.layer._hero-mountains.lazy(data-bg="img/hero-mountains.webp", data-bg-fallback="img/hero-mountains.png")
	.site-container
		.hero-section__container
			h1
				|	Привезем
				span
					span
						|	воздушные
					span
						|	шарики за 3 часа
			p
				strong
					|	Бесплатно обрабатываем шары
				br
				|	особым составом для продления полета
			button.button-reset.btn.hero-section__button
				span
					|	Написать нам
