@font-face {
	font-weight: 400;
	font-family: "Exo2";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Exo2-Regular.woff2") format("woff2"),
		url("../fonts/Exo2-Regular.woff") format("woff2");
}

@font-face {
	font-weight: 700;
	font-family: "Exo2";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/Exo2-SemiBold.woff2") format("woff2"),
		url("../fonts/Exo2-SemiBold.woff2") format("woff2");
}

@font-face {
	font-weight: 800;
	font-family: "RoundedMp";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/RoundedMplus1c-Black.woff2") format("woff2"),
		url("../fonts/RoundedMplus1c-Black.woff2") format("woff2");
}

@font-face {
	font-weight: 200;
	font-family: "RoundedMp";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/RoundedMplus1c-Thin.woff2") format("woff2"),
		url("../fonts/RoundedMplus1c-Thin.woff2") format("woff2");
}
