- let header_list = ["О компании", "Каталог", "Доставка и оплата", "Пункты самовывоза", "Контакты"];
header.header.lazy(data-bg="img/header-bg.webp", data-bg-fallback="img/header-bg.png")
	.site-container
		.header__container
			a.header__logo.main-logo(href="")


				img(src="img/logo.png", alt="Лого")
				p
					|	Воздушные гелиевые  шары с доставкой
			span.header__location
				|	Санкт-Петербург
			nav.header__nav
				.header__nav_wrap
					ul
						for item in header_list
							li
								a(href="")=item
					a.header__nav-cart.modal-btn(href="", aria-label="Перейти в корзину", data-path="test", data-animation="fadeInUp", data-speed="400")
						span.header__quantity.cart-quant
							span.cartQuantity
								|	0
							|	шт.
						+icon("cart")
			.header__btn-group
				a.phone-content(href="")
					|	+7 (999) 135-35-03
				button.button-reset.header__order-button
					span
						|	Заказать звонок
			a.header__nav-cart._mobile.modal-btn(href="", aria-label="Перейти в корзину", data-path="test", data-animation="fadeInUp", data-speed="400")
				span.header__quantity.cart-quant
					span.cartQuantity
						|	0
					|	шт.
				+icon("cart")
			button.header__burger.burger-button.button-reset(aria-label="Меню")
				span
				span



