include ../data/config.pug
include ../components/**/*.pug


block variables


doctype html
html(lang="ru")
	head
		include ../parts/head.pug
	body(class=bodyClass)
		.page-wrapper
			block header
				include ../parts/header.pug

			block content

			block footer
				include ../parts/footer.pug
			block modal
				include ../parts/modal.pug
	block scripts
		script(defer, src="js/vendor.js?v=" + siteVersion)
		script(defer, src="js/global.js?v=" + siteVersion)
		script(defer, src="js/main.js?v=" + siteVersion)
