// Typography
$main-font: "Exo2", sans-serif;
$second-font: "RoundedMp", sans-serif;

// colors
$color-purple-dark: #714ca8;
$color-purple-darker: #573e7b;
$color-purple-light: #bea1e8;
$color-purple-lighter: #d5bff4;
$color-yellow: #f7da5b;
$color-yellow-dark: #836f18;
$color-blue: #5676fe;
$color-blue-light: #abc3ff;
$color-white: #fff;
